[2022-07-01 07:36] Gustl22 commented on #1199
Plz use existing issue #1163.
Also try upgrading minimum flutter/dart version.
I recommend installing [Flutter manually](https://docs.flutter.dev/get-started/install/linux#install-flutter-manually) instead of using [snap](https://github.com/canonical/flutter-snap/pull/61) which lacks of proper cmake support.

[2022-07-01 07:38] agordeev commented on #1194
Ok, so this code worked for me:

[code]

[2022-07-01 07:41] Gustl22 commented on #1163
Again, does the [example work](https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example)? We certainly don't have the time to debug someone elses code.
If the example works, try to find the differences and update your code accordingly.

[2022-07-01 10:24] AldanisVigo commented on #1194
`import 'package:just_audio/just_audio.dart' show AudioPlayer, AudioSource;`

Everything else is pretty much the same except for there's no Completion listener, but there is still a duration and position listener so whenerver position == duration it's the same thing as the completion listener if you need it. Hope that helps.

[2022-07-01 12:15] tupats commented on #1193
Same, lowlatency just does not work. On real device and emulator.

[2022-07-02 16:16] dvorapa opened #1200 "Getting Started tutorial references renamed and no longer existing streams in v1"
Getting Started tutorial references some streams, that are renamed or no longer exist in v1. I've caught at least these three:
[code]
The first two obviously have just been renamed. They should be renamed in the tutorial as well. But the third one seems no longer existing in the audioplayers package - at least I haven't found it yet.

**Code to Reproduce**

1. Open the Getting Started tutorial ( h

[2022-07-02 16:24] dvorapa commented on #1200
The last one covered by #1179
The second one fixed in #1189

[2022-07-03 00:37] under3415 opened #1201 "PlatformException on Android emulator (Pixel 5 API 32)"
Frequent `PlatformException` errors while running on Pixel 5 API 32 emulator

**Full Description**
While testing on the emulator, getting frequent `PlatofrmException` error. Was not getting these on Pixel 4 API 31 and physical device

**Code to Reproduce**
[code]

**Log Errors**

**Files/URLs/Sources**
N/A

**Screenshots**
N/A

**Platforms**
List in detail here **all** the platforms that you have

[2022-07-04 04:22] lidaweicn commented on #1193
Same issue on Android 10

[2022-07-04 10:20] keyur005 commented on #129
Pl add this feature!

[2022-07-04 10:52] Ephenodrom commented on #1193
Looks like the same issue as #1176 !

[2022-07-05 01:40] sujindra-maharjan commented on #1150
Is this error fixed?

[2022-07-05 07:23] under3415 commented on #1193
Hi
I am only getting it on pixel 4 emulator. Works fine on pixel 5.
Also I do get an error, other user is not getting an error, just no sound.
D

From: ***@***.***>
Sent: Monday, July 4, 2022 10:53 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [bluefireteam/audioplayers] Does not play with asset source and lowLatency mode (BUG) (Issue #1193)

Looks like the same issue as #1176<ht

[2022-07-05 16:15] ollydixon opened #1202 "Respect iOS Silient mode"
How can we respect silent mode in iOS?

Using version 1.0.1

[2022-07-05 16:22] ollydixon commented on #949
Would be nice if this was automatic, at the moment it players though the device speaks making the plugin useless.

[2022-07-05 17:58] DSoe commented on #1194
This is what_getAudioContext() has.

`AudioContext _getAudioContext() {
    return AudioContext(
        android: AudioContextAndroid(
          isSpeakerphoneOn: false,
          stayAwake: true,
          contentType: AndroidContentType.music,
          usageType: AndroidUsageType.media,
          audioFocus: AndroidAudioFocus.gain,
        ),
        iOS: AudioContextIOS(
          defaultToSpe

[2022-07-06 04:33] AimanKyo97 commented on #1022
Need this feature
@ArbazShaikh077  @keyur005  @haarts  @cosmok  @ttencate

[2022-07-06 05:58] akhil-221 opened #1203 "audio seeker not working"
i have used audioplayer package and its seeks functionality not working in android real device,but when i used with IOS simulator it works properly

[2022-07-06 10:21] hukusuke1007 opened #1204 "[iOS] [Real Device] Error occurs when sound is played continuously."
**Full Description**
At first the sound sounds fine, but after a few taps the sound stops. At that time an error occurs.

No errors occur in the simulator. However, errors do occur on the real device.

Is there any way to solve this problem?

**Code to Reproduce**

[code]

**Log Errors**
[code]

**Files/URLs/Sources**
local mp3 file.

**Screenshots**
No

**Platforms**
* OS: ios
* OS version: 15.5

[2022-07-06 11:21] keyur005 opened #1205 "Headers not supported."
["one liner" - concisely describe your bug with one very brief paragraph, preferably between 1-3 lines, in clear, correct and acceptable English]

**Full Description**
Describe in  what the bug is, exactly how, what and when it happens. In particular specifying what you thought should happen and what did happen, and how they differ, in detail. Unless the bug is abundantly clear by the "one liner"

[2022-07-06 15:08] S-Man42 commented on #1204
Same exception here!

My files are wav or mp3, temporary created `File` objects.

[2022-07-07 02:40] darkeronce commented on #213
I'm facing the same error I try with version 0.20.* and now I'm trying with 1.0.1 that also give me the same problem
Unhandled Exception: AVPlayerItem.Status.failed
I'm on a iOS emulator and I'm using this url https://www.soundhelix.com/examples/mp3/SoundHelix-Song-13.mp3
I don't know if it is the format or another thing but never go throw then method so something is making trouble in iOS works ju

[2022-07-07 21:07] #1182 closed

[2022-07-08 04:11] luanpotter commented on #1205
Please update to follow the template rather than copy and pasting the template...

[2022-07-08 04:14] luanpotter commented on #1199
Closing in lieu of https://github.com/bluefireteam/audioplayers/issues/1163

[2022-07-08 04:14] #1199 closed

[2022-07-08 04:16] luanpotter commented on #1198
`setSourceBytes` is not currently supported on windows. this is already documented on the [feature parity table](https://github.com/bluefireteam/audioplayers/blob/main/feature_parity_table.md).

contributions are most welcome though :)

[2022-07-08 04:16] #1198 closed

[2022-07-08 04:18] luanpotter commented on #1202
Please take a look at the provided documentation about Audio Context:
[ref 1](https://github.com/bluefireteam/audioplayers/blob/main/getting_started.md#audio-context)
[ref 2](https://github.com/bluefireteam/audioplayers/blob/main/packages/audioplayers_platform_interface/lib/api/audio_context_config.dart)

[2022-07-08 04:19] luanpotter commented on #1179
I removed this stream because it was actually never used. We now have a `Logger` infrastructure (+ exceptions) for reporting errors.

[2022-07-08 04:19] #1179 closed

[2022-07-08 07:08] ollydixon commented on #1202
@luanpotter I'm doing this but it doesn't work.

[code]

[2022-07-09 00:48] hukusuke1007 commented on #1204
Use soundpool instead of this plugin. This plugin worked fine.
https://pub.dev/packages/soundpool

[2022-07-09 00:48] #1204 closed

[2022-07-09 16:57] AriDevC commented on #1201
This is indeed an annoying bug on android emulator, mine ends up crashing frequently at random times.

[2022-07-10 11:28] keyem88 opened #1209 "Get Volume Feature"
Get the Volume of the device

**Full Description**
In the package audioplayers you can set the volume of the device. But there is no feature to get the actual volume f.e. to check if the volume equals to zero.

**Example Code**
`AudioPlayer player = AudioPlayer();
player.getVolume()`

**Platforms**
android, ios, web

[2022-07-10 13:26] Gustl22 commented on #1209
See #1117

[2022-07-10 13:51] AriDevC opened #1210 "Unhandled Exception: AVPlayerItem.Status.failed"
Using audioplayers package in a flutter app throws an exception on IPad Pro (4th gen) IOS 15.5.
The audio playing is normal at first. After a few times playing from a source, audio stops playing and the following exception gets thrown.

**Exception**
[code]

**Versions**

[code]

Everything works just fine on my android devices.

**Flutter code used to play the sounds**
[code]

[2022-07-10 20:45] ndawod commented on #1210
+1

Happens when running an app on a Simulator. Latest Xcode.

[2022-07-12 02:31] lidaweicn opened #1212 "Crash MediaPlayer.isPlaying"
Often crash during audio play

Anywhere there's audio playing, sometimes it crash, not every time
`
audioPlayer.play(UrlSource("..."))  or  audioPlayer.setSourceUrl("...")
`

D/AndroidRuntime(28965): Shutting down VM
E/AndroidRuntime(28965): FATAL EXCEPTION: main
E/AndroidRuntime(28965): Process: xxxxxx, PID: 28965
E/AndroidRuntime(28965): java.lang.IllegalStateException
E/AndroidRuntime(28965):

[2022-07-12 02:59] matheusfillipe opened #1213 "Audio does not play: `AudioPlayers: Could not query current duration.`"
I am testing on both android 10.0 and on linux and couldn't get to hear any audio from this library, tried both asset and url sources, multiple ways, but always same problem.

**Full Description**

I am not sure if it is because I am on the latest stable flutter and this might be a new issue. I am also on the latest pub.dev `audioplayers`. When I try to play a UrlSource on linux it will crash and

[2022-07-12 11:50] ndawod commented on #1210
I wonder if there's any feedback on this bug?

[2022-07-13 04:14] #1205 closed

[2022-07-13 05:05] #1196 closed

[2022-07-13 10:43] hathim92 commented on #317
Is this issue fixed?? please let me know how to fix this issue?

[2022-07-14 08:45] VCasecnikovs opened #1215 "Can not get duration before audio play"
After setting the source I am trying to get the duration of the audio file. Unfortunately, the answer is zero.

The code:
[code]

**Platforms**
OS: Windows & Android

[2022-07-14 18:33] vpatel-dev opened #1216 "Link for AudioCache class broken"
Navigated to [readme.md](https://github.com/bluefireteam/audioplayers/tree/46816bf55859c9c88b204e3828cce6190ff87483), down to the **AudioCache** section.

![image](https://user-images.githubusercontent.com/107925269/179056835-a7c5b839-83c0-40a5-8082-4bf841054b31.png)

Last line states I can find more about the class by clicking on the link, but the link returns a 404.

[2022-07-14 18:42] #1216 closed

[2022-07-14 18:43] vpatel-dev commented on #1216
Turns out AudioCache is no longer a thing

[2022-07-15 17:34] Cubel89 opened #1217 "605 / 5.000 Resultados de traducción Error when putting the audios in cache in iOS. It makes them ring by caching them."
When putting a local file in cache, it is played automatically in iOS. (Later, the first call to the audio does not work, the following yes).

**Full Description**
I have a loading page and I take advantage of that page to cache different local audios. On Android it caches them without problems, on iOS it plays them on the loading page all at once.
On the next page, I make use of those audios. On

[2022-07-15 23:55] AriDevC commented on #1210
Have you checked with physical devices, also which platform?

[2022-07-19 01:43] mdddj opened #1218 "PlatformException: Unexpected error!"
[code]

flutter doctor
[code]

[2022-07-20 08:42] leongkeng commented on #1193
has anyone found a solution to this issue?

[2022-07-20 08:52] under3415 commented on #1193
As a workaround you can remove the low latency mode. Hopefully it will get fixed one day

[2022-07-20 10:38] under3415 commented on #1193
@Gustl22 are you going to consider fixing this issue or not? Not much activity since your comment that the proper form should be used, which I have done...

[2022-07-20 11:03] Rogue24 opened #1219 "iOS: By default, the player is played by earpiece. How can I switch to loudspeaker?"
By default, the player is played by earpiece. How can I switch to loudspeaker?

[2022-07-20 11:51] ndawod commented on #1210
I didn't check with a physical device yet. The platform is macOS Monterey x64.

[2022-07-20 16:49] pmella16 commented on #1193
same .

[2022-07-20 22:03] TSurridge commented on #1217
I have something like this happening to me as well for iOS / and MacOS.  I am using some audiopool in my onload method and it will play all the sounds at once when I first load my flame game.

[2022-07-20 22:10] GoodAndBeautiful commented on #1219
I think this is a duplicate of: https://github.com/bluefireteam/audioplayers/issues/1194

[2022-07-21 04:31] Gustl22 commented on #1193
@under3415 I currently working on some [tests](https://github.com/Gustl22/audioplayers/tree/feat/extended-tests) which touches all implementations of this platform, and will also include tests for `lowLatency` at some point. As this feature is only available on Android, this has not high priority for me personally. I eventually have time to fix it, when coming to this point, but you or someone els

[2022-07-21 12:01] TahaAhvazi opened #1220 "Can't play audio from http URL in audioplayers flutter package"
Hello 👋
when I try to play audio from the internet I face this error in debug console
any solution?

V/MediaPlayer( 2137): resetDrmState:  mDrmInfo=null mDrmProvisioningThread=null mPrepareDrmInProgress=false mActiveDrmScheme=false
V/MediaPlayer( 2137): cleanDrmObj: mDrmObj=null mDrmSessionId=null
V/MediaHTTPService( 2137): MediaHTTPService(android.media.MediaHTTPService@7a89a6): Cookies: null
V/M

[2022-07-21 20:18] Gustl22 commented on #1220
Plz use issue template :)

[2022-07-21 20:19] Gustl22 commented on #1218
Plz use issue template!

[2022-07-21 20:24] Gustl22 commented on #1215
This cannot be guaranteed in all cases. The problem is e.g. for mp3 the duration is estimated which only will precisely work if playing the audio. But I didn't experience that on Android/Windows yet...

[2022-07-21 21:16] Gustl22 commented on #1213
I tried and the problem seems to be that the audio cannot be played as long no context is available:

Try:
[code]
Also calling `player.dispose` immediately after playing cannot work (this would block the UI and also long async waiting periods are done via the callbacks, e.g. `onPlayerStateChanged` ). `player.play` does not wait for the audio sample to be finished playing, it only waits for the sou

[2022-07-22 10:15] Rogue24 commented on #1219
@GoodAndBeautiful thank you so much.

[2022-07-22 10:15] #1219 closed

[2022-07-23 06:28] matheusfillipe commented on #1213
Thanks! Indeed all I was lacking was calling this from within a context.

[2022-07-23 06:28] #1213 closed

[2022-07-23 06:31] raviteja213 commented on #1004
i want to know the file type that should be kept for audio files in assets folder

[2022-07-23 06:59] raviteja213 commented on #1004
![image](https://user-images.githubusercontent.com/61491710/180594344-be53005e-0de0-452d-b555-60881a18d105.png)
please check this and tell me the error

[2022-07-23 11:19] liang-notes commented on #1163
I met the same issue, Is there anyone solved it?

[2022-07-24 01:45] TSurridge commented on #1194
I just had the same issue in a Flame Game (using FlameAudio) where on my iPhone I couldn't hear anything but it was working fine on my iPad.  I was going crazy trying to figure this out. Thought maybe something was wrong with my phone.  Tried it on my wife's phone same issue.  Ended up needed to add the same info above and now both iPhone and iPad have volume.

[code]

[2022-07-24 01:51] hgjinfan commented on #1194
😊

[2022-07-25 00:04] metaces commented on #1075
For me works like this:

AudioPlayer audioPlayer = AudioPlayer();
audioPlayer.play(AssetSource('note2.wav'));

[2022-07-25 09:06] 14064635 opened #1223 "java.lang.IllegalStateException"
java.lang.IllegalStateException

解析原始
1
android.media.MediaPlayer.isPlaying(Native Method)
2
xyz.luan.audioplayers.player.MediaPlayerPlayer.isActuallyPlaying(MediaPlayerPlayer.kt:35)
3
xyz.luan.audioplayers.player.WrappedPlayer.isActuallyPlaying(WrappedPlayer.kt:144)
4
xyz.luan.audioplayers.AudioplayersPlugin$UpdateCallback.run(AudioplayersPlugin.kt:209)
5
android.os.Handler.handleCallback(Handler

[2022-07-26 05:29] hamzeh1999 commented on #450
I am facing the same issue, found any solution?

[2022-07-26 08:48] heynext commented on #1194
It works!

[2022-07-26 09:55] sunguard commented on #1210
It also happens on a physical device (audioplayers: ^1.0.1 / iPhone 12 mini)

[2022-07-27 02:08] tffajari commented on #1215
I have the same issue here, just_audio offer get duration before we play audio, but there is already to much code I implement using audio_player

[2022-07-27 08:52] guivr opened #1225 "Can't clear cache over local file"
## Checklist
- [X] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [X] I made sure that the issue I am raising doesn't already exist

I'm building a voice changer app, therefore, I'm generating different effects for an audio and saving under the same file name. `audioplayers` will play it right on the first t

[2022-07-27 13:45] ktakayama commented on #1210
same here
audioplayers: 1.0.1, iPhone 13 Pro(iOS 15.5)

[2022-07-29 06:10] offline-first opened #1227 "Fatal Exception: java.util.ConcurrentModificationException"
## Firebase Crashlog:
[code]
Unfortunately, I only have this crash log from Firebase. I could not find out yet how the crash is caused.
Shouldn't the error be prevented in the plugin?

[2022-07-29 06:39] Syooian opened #1228 "Some problems about set position on play and play effect sound on Web in iOS"
First question about set position on play.
This's what I do.

[code]

On Web everytime I click the button It's will play from start, you need to call "stop()" once and it will play from specified position, but if you play other music file the issue will begin.
But on iOS and Android devices it will happen only at first time, no need to call stop().

Second question is about Flutter Web
For some re

[2022-07-29 11:19] ndawod commented on #1210
@AriDevC seems to be happening on real devices…

[2022-07-29 13:36] ktakayama commented on #1210
I think it will be fixed this problem use with playerId.

[code]

[2022-07-29 15:31] utkudenis opened #1229 "xyz.luan.audioplayers.player.MediaPlayerPlayer.isActuallyPlaying [Fatal Error]"
Fatal Exception: java.lang.IllegalStateException
       at android.media.MediaPlayer.isPlaying(MediaPlayer.java)
       at xyz.luan.audioplayers.player.MediaPlayerPlayer.isActuallyPlaying(MediaPlayerPlayer.kt:35)
       at xyz.luan.audioplayers.player.WrappedPlayer.isActuallyPlaying(WrappedPlayer.kt:144)
       at xyz.luan.audioplayers.AudioplayersPlugin$UpdateCallback.run(AudioplayersPlugin.kt:20

[2022-07-29 21:14] superwebarmy commented on #1103
Any update on this requested feature? @luanpotter :)

[2022-07-29 21:23] alihuseyin commented on #1210
same problem here

[2022-07-30 05:49] guivr commented on #1225
Any help? Please :( Been stuck on this issue

[2022-07-31 09:34] visign3d opened #1230 "playing asset sound error"
Just trying play some asset sound on android:
[code]

error mesage:
[code]

[2022-07-31 09:35] #1230 closed

[2022-07-31 09:40] visign3d opened #1231 "working minimal examples"
Can you please provide some working exaples of playing local assets ?

[2022-08-01 08:12] abhinavkulkarni commented on #1203
Yes, I can confirm that I am not getting any events in the `onSeekComplete` stream, however I do in the other streams. This is on the web, haven't checked on other platforms.

[2022-08-02 09:39] adrianvintu commented on #1231
I have upgraded from audioplayers: ^0.20.1 to 1.0.1. I have no idea how to play a file. Reverted back to ^0.20.1.

[2022-08-03 07:10] jonafeucht commented on #1231
.play now takes a source.
For example:
[code]
More sources can be found here: https://github.com/bluefireteam/audioplayers/blob/main/packages/audioplayers/lib/src/source.dart

[2022-08-03 19:24] adrianvintu commented on #1231
To whomever needs some help, I transitioned like this. It's a quick and hacky way, so please don't judge too harshly. The code is using the static instance in a bad way, but I only need to play a few small files (2-4 seconds), a few times, so I did not invest more time in it.

Before

[code]

After

[code]

To start and stop the loop
[code]

The method `playListSilently` is there because it was a

[2022-08-04 12:41] busslina opened #1233 "Future<Duration> AudioPlayer.getDuration() is working but AudioPlayer.onDurationChanged Stream<Duration> isn't"
Platform: Flutter Desktop on Windows

Description: While playing an audio the stream listen() method never gets any update. I'm subscribing before playing the sound (maybe changing it will solve the issue)

UPDATE: Subscribing to the stream after playing the audio doesn't solve the issue

[2022-08-04 16:01] gokadi commented on #1083
I'm facing the same error
`[default] AudioSessionSetProperty_Priv posting message to kill mediaserverd (28088)
"Error configuring audio session: Error Domain=NSOSStatusErrorDomain Code=2003329396 \"(null)\""
"Error configuring audio session: Error Domain=NSOSStatusErrorDomain Code=2003329396 \"(null)\""
"iOS => call startHeadlessService, playerId 9f3f5a01-bed5-4b85-8702-3fea1ea5ef26"
"calling star

[2022-08-04 16:14] gokadi commented on #1083
Probably duplicate of https://github.com/bluefireteam/audioplayers/issues/1147

[2022-08-04 16:16] AlekseiAfanasev commented on #1147
Same here, `0.20.1` too, using it as dependency of `flame_audio` (which doesn't do a lot - it's just a wrapper).

[code]

[2022-08-04 16:17] gokadi commented on #1147
Same here, 0.20.1 too, using it as dependency of flame_audio (which doesn't do a lot - it's just a wrapper).

Flutter 3.1.0-0.0.pre.1600 • channel master • https://github.com/flutter/flutter.git
Framework • revision 08457a3d7e (3 weeks ago) • 2022-07-11 13:25:07 -0400
Engine • revision 24a1b60e7f
Tools • Dart 2.18.0 (build 2.18.0-271.0.dev) • DevTools 2.15.0

[2022-08-04 16:38] AlekseiAfanasev commented on #1217
Same for me, as soon as I moved to `flame_audio: 1.3.0` (which uses `auidoplayers` 1.0.0), I also started facing this issue.

    • iPhone 11 Pro (mobile) iOS-15-5

[2022-08-04 16:38] gokadi commented on #1217
Same for me, as soon as I moved to flame_audio: 1.3.0 (which uses auidoplayers 1.0.0), I also started facing this issue.

• iPhone 11 Pro (mobile) iOS-15-5

[2022-08-04 19:25] hectorAguero commented on #1210
This happens when the file doesn't exist.

[code]

[2022-08-05 03:12] under3415 opened #1234 "[QUESTION]: What does this mean: "AudioCache is dead, long live Sources""
Prior to version 1 we had an option to pre-loading files (from different sources) into an "AudioCache".

This made a lot of sense. My app has 5 audio sound effects that play often. So it makes sense to pre-load them into a cache (from assets in my case) and play them from there instead of reading from storage every time. This is even more important if the sound is loaded from a remote network loca

[2022-08-05 03:46] rpungin commented on #1234
I have the same question.

[2022-08-05 10:59] Gustl22 commented on #1225
Which platform? Try to load another source in between or hand over null. But it's likely that this doesn't work, too, because the file is copied into the cache directory and not updated if already there. The best way is to rename the file and set it as source.

[2022-08-05 11:00] Gustl22 commented on #1227
Plz use issue template

[2022-08-05 11:04] Gustl22 commented on #1233
Plz use issue template

[2022-08-05 11:05] Gustl22 commented on #1234
Cache further exists, but is handled by the plugin.

[2022-08-05 16:26] guivr commented on #1225
Thanks for the help, @Gustl22 . Can I achieve something like a "clear cache" using AudioCache from this library? Or is it something different?

[2022-08-05 23:34] ben-xx commented on #1217
+1 for this issue on iOS using audioplayers version 1.0.1 on recent iOS devices (14.x+) including Simulators.

Once `.setSourceAsset` is called, sound is immediately played from device.
[code]

Downgrading to audioplayers version 0.20.1 and using `AudioCache` class, this issue is not present.

[2022-08-06 12:37] guivr commented on #1225
PS: AudioCache worked! :D

[2022-08-06 16:07] buraksenkus opened #1235 "Creating & Playing Single Audio From Multiple Assets"
Hi,

I have multiple sound files in assets folder. Currently, I can play them by creating a Timer object.

I will give a concrete example to explain it more clearly. Let's say I have **A, B, C, D, E and F** asset files. And assume I am playing some of these audio files at **1 second interval** using the Dart's **Timer.periodic** function.

An example schedule:
0 sec: **Play** A, C, D simultaneousl

[2022-08-08 15:30] zappaz00 commented on #1114
I have the same issue on 1.0.1. I think it related with Windows SDK enviroment because on the one PC it builds correctrly but on the another I have this error. And SDK versions maybe different. I check versions later and write it

[2022-08-08 18:12] zappaz00 commented on #1114
**Build ok with**

[√] Flutter (Channel stable, 3.0.5, on Microsoft Windows [Version 10.0.19043.1526], locale ru-RU)
    • Flutter version 3.0.5 at C:\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision f1875d570e (4 weeks ago), 2022-07-13 11:24:16 -0700
    • Engine revision e85ea0e79c
    • Dart version 2.17.6
    • DevTools version 2.12.2

[√] Andro

[2022-08-08 18:25] zappaz00 commented on #1114
Update:
I updated Windows SDK from 10.0.18362.0 to 10.0.19041.0 and error disappered.

[2022-08-08 19:06] spydon commented on #1229
Duplicate of #1150

[2022-08-08 19:06] #1229 closed

[2022-08-08 19:06] spydon commented on #1223
Duplicate of #1150

[2022-08-08 19:06] #1223 closed

[2022-08-08 19:07] spydon commented on #1212
Duplicate of #1150

[2022-08-08 19:07] #1212 closed

[2022-08-08 19:08] spydon commented on #1201
Duplicate of #1150

[2022-08-08 19:08] #1201 closed

[2022-08-08 19:10] spydon commented on #1160
Is this still an issue in audioplayers 1.0.1?

[2022-08-09 08:37] michaelniedermayr opened #1237 "[QUESTION]: No sound in Windows Release Version"
I have an app that loads a sound file from the assets folder and plays it. If I run the Windows version of this app in Android Studio, everything works well and I can hear the sound. However, if I run the release version (opening the exe-file in build/windows/runner/Release), there is no sound. First, I assumed that maybe the assets are not loaded properly in the release version but this is not th

[2022-08-10 08:09] zst1994 opened #1239 "win7系统提示无法定位程序输入点mfplat.dll"

[2022-08-10 08:12] zst1994 commented on #1239
![image](https://user-images.githubusercontent.com/31177280/183850379-2c597700-5bdd-4267-8253-74c0f85c6bcb.png)

[2022-08-10 08:52] michaelniedermayr commented on #1237
I found the problem. I used DeviceFileSource() to load the asset. That works when app is started from Android Studio. However, the proper way to load assets is AssetSource().

`AudioPlayer().play(AssetSource(asset);`

[2022-08-11 03:45] sezer-healthlogix commented on #1151
Has anyone else been able to recreate this?

[2022-08-11 07:01] joabh commented on #1210
I'm having the same issue with IOS - Running on android studio chipmunk 2021.2.1 Patch 1, iPhone 11 Pro Simulator, Flutter 2.10.5 (stable).

Attempting to play an audio file from firebase storage URL. Works fine on Android simulators.

[2022-08-11 11:48] renancaraujo commented on #1239
Dupe of #1134

[2022-08-11 11:48] #1239 closed

[2022-08-11 15:03] dariocavada opened #1240 "earpieceOrSpeakersToggle is missing in the new version of the audioplayers"
## Checklist
- [X] I made sure that the feature I am proposing doesn't already exist
- [X] I've tried the forceSpeaker and respectSilence configuration (AudioContextConfig) with no success

## Use case / Problem

In the version 0.20 there was an `earpieceOrSpeakersToggle` method.
I use this method for an audio guide, when you can decide if listed the audio with earpiece or if there are not many pe

[2022-08-12 07:26] spydon commented on #1197
I think that you should also be able to get it working by install it from snap too now if you manually set the channel:
`snap refresh --channel=edge/core20 flutter`
Since that is using this PR https://github.com/canonical/flutter-snap/pull/61

[2022-08-13 04:18] jzz567 opened #1242 "In audioPlayer.onPlayerComplete event listener, player.state is still playing state"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

## Current bug behaviour

When an audio file play finished, audioPlayer.onPlayerComplete is triggered, but in this  event listener, player state is still in playing state.
Also

[2022-08-13 16:48] novikov-studio commented on #58
Hi, added stereo balance control for Windows. Also tried to add for Linux, but can't make it to work. Maybe somebody can help with Linux support?

[2022-08-14 09:57] arnirichard opened #1244 "Play wav asset on web: Error: UnimplementedError"
## Current bug behaviour
Not able to play wav file from assets on web (resulting in UnimplementedError)

## Expected behaviour
Should play wav as it does on Android

## Steps to reproduce
1. Create audio player: `AudioPlayer player = AudioPlayer();`
2.Playing wav file using the following code:

`String audioasset = 'assets/sounds/' + filename+ '.wav';
        ByteData bytes = await rootBundle.load

[2022-08-15 10:43] Purus commented on #1179
Logging an error and handling an error are different. Hope this stream is introduced back. Thanks in advance.

[2022-08-15 19:38] #1233 closed

[2022-08-15 20:26] #1193 closed

[2022-08-16 01:19] sezer-healthlogix commented on #1202
Is this being looked into I can't seem to find respectSilence in v1.0.1

[2022-08-21 10:36] Alyy2021 commented on #1186
audioPlayer.play(UrlSource(url!));

[2022-08-22 09:05] masus04 opened #1249 "[web] Errors on setSource and resume when playing audio stream"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

Errors are thrown when playing, pausing or resuming audio playback on Flutter web application.

## Current bug behaviour
When loading an audio stream source either using `audio

[2022-08-22 16:56] ASGAlex commented on #1227
I made some investigation, because this bug reproduces in my pet-project. It looks like Soundpool related bug. If you set `PlayerMode.lowLatency` and keep `ReleaseMode.release` then playing same audio simulateously could trigger a fatal error.
If you change to ReleaseMode.stop, the bug will disappear but you will be aple to play audio only 100 times.

The error fires from WrappedPlayer.actuallyPla

[2022-08-22 19:27] searchy2 commented on #897
Closing as latest version moves notification service to external package.

[2022-08-22 19:27] #897 closed

[2022-08-23 14:54] hatemragab commented on #1194
Not working on all devices how to fix?

[2022-08-23 17:23] Tobi696 opened #1250 "Playing audio from UrlSource causes Exception on Android Emulator."
Playing remote audio (https://api.whatda.fit/sample-audios/MP%20Clapping%20Crunches%2045.mp3) causes Android Exception.

## Current bug behaviour
Exception:
[code]

## Expected behaviour
The audio should be played.

## Steps to reproduce
[code]

Flutter 3.0.5, Android Emulator

On an iOS Simulator it works.

[2022-08-23 20:23] Gustl22 commented on #92
Fixed via 5eeca8940e764546023567fa2f6b1bc3802f97d3 for android. Now throwing correctly on the dart side.
Can anyone confirm for ios? May needs to be added to tests.

[2022-08-23 20:33] Gustl22 commented on #105
I think it would be a nice addition in AudioCache to optionally cache url sources and play them as "local source".

[2022-08-23 20:48] Gustl22 commented on #136
This should be easy to fix by moving the [`onDuration` event](https://github.com/bluefireteam/audioplayers/blob/ff78a42f842e146df7dc98d6d00ae27821355653/packages/audioplayers_android/android/src/main/kotlin/xyz/luan/audioplayers/AudioplayersPlugin.kt#L215) to when `prepared` was called.

[2022-08-23 21:04] Gustl22 commented on #146
@emekalites can you upload the file again on github via blob? I'll take a look, if the issue still occurs.

[2022-08-23 21:20] Gustl22 commented on #208
Related to #151, but maybe disable this ones permanentely(?)

[2022-08-23 21:25] Gustl22 commented on #224
According to [parity table](https://github.com/bluefireteam/audioplayers/blob/main/feature_parity_table.md) every platform is supported.

[2022-08-23 21:25] #224 closed

[2022-08-23 21:38] Gustl22 commented on #269
I think [flutterarsenal](https://github.com/flutterarsenal/FlutterArsenal/commits/master) is not actively maintained anymore.

[2022-08-23 21:38] #269 closed

[2022-08-23 21:47] Gustl22 commented on #349
We may could think about removing the `onDuration` and `onPosition` event on the native side, and request the according native values on a async runner on the dart side every x milliseconds. So the updates would be much more configurable. Or just hand over the update interval to the native side.

[2022-08-23 21:52] Gustl22 commented on #105
Closing in favor of #374

[2022-08-23 21:52] #105 closed

[2022-08-23 21:56] Gustl22 commented on #380
Fixed via #1206

[2022-08-23 21:56] #380 closed

[2022-08-24 05:45] adrianvintu opened #1251 "Crash on iOS"
Hello, my app crashes on iOS with the following stack. Is the crash caused by audioplayers?

[code]
![2022-08-24 08_42_31-Stop Anxietate - GeneratedPluginRegistrant m line 206 - Firebase console — Mozil](https://user-images.githubusercontent.com/33379688/186339768-9ebf211a-0318-46ec-b25e-a36d0bb68ee4.png)

Cannot send code debug, unfortunately.

[2022-08-24 07:34] JankoLancer commented on #1227
I am also experiencing this, on Firebase this is reported as a crash, so it is an important issue.

[2022-08-24 08:52] mahmudbabakusa opened #1252 "Having issue when handling error"
Hello, Good morning. Please am having error when playing a radio stream that is not working . I having problem handling the error.  If I try the method you use that using the if statement to compare it to 1 it is saying it is an integer. it is a future void function.

[2022-08-24 13:09] larssn commented on #1250
It happens in production for us. Typically when you use overlapping audio, so if you have a sound hooked up to a button, and then spam that button, the exception will happen.

[2022-08-24 13:19] larssn opened #1253 "Floating promise"
Found a floating promise in https://github.com/bluefireteam/audioplayers/blob/ff78a42f842e146df7dc98d6d00ae27821355653/packages/audioplayers_platform_interface/lib/method_channel_audioplayers_platform.dart#L147

It results in not being able to catch errors.

Will do a PR.

[2022-08-26 14:17] Nico3652 commented on #1242
Same problem detected for my app. Seems to be a regression because I used the plugin since start of 2022 and It was working perfectly.

When the the audio file is playing and auto complete/end the playerState is not triggering ' completed ' state. Same for 'stopped'.
Whereas 'pause' is still working.

thanks!

[2022-08-27 18:01] itsJoKr commented on #1242
I have the same issue. I've updated to ` audioplayers: ^1.0.1` and the state is always `playing` even though it finished playing. In `0.20.1` it worked for me.

[2022-08-27 19:25] Tobi696 commented on #1250
This exception also causes onPlayerComplete to fire.

[2022-08-27 23:18] jtmcdole opened #1255 "`ogg` support on Windows?"
## Checklist
- [x] I made sure that the feature I am proposing doesn't already exist
  - in as much as I searched the code for `ogg`, `opus`, and `vorbis` and found no mention other than `ogg` working on Android
  - I know it works on Web as well.

## Use case / Problem
- Supporting the open source media format
- Works on other platforms with audioplayers.
- Windows outputs a largely unhelpful err

[2022-08-28 06:28] Hallcoder opened #1256 "docs: more descriptive codes and information in Getting Started tutorial for AudioCache"
## Checklist
- [x] I made sure that the feature I am proposing doesn't already exist

## Use case / Problem

## Proposal / Solution

<details>
  <summary>Example Code</summary>

[code]
</details>

## Platforms

Affected Platforms:

## Audio Files/URLs/Sources (optional)

## Mockups (optional)

## More information (optional)

[2022-08-28 13:55] Tom3652 commented on #1242
Seeing the same behavior as mentioned above in my app with the `audioplayers: ^1.0.1`

[2022-08-28 17:04] itsJoKr commented on #1242
Hey, guys. I might have a fix, it's here: https://github.com/bluefireteam/audioplayers/pull/1257

And you can test it before release. If you do, please tell me if it worked for you:

[code]

[2022-08-28 17:52] Tom3652 commented on #1242
Hey @itsJoKr , thanks for working on it !
I have tried your version and i see the same behavior unfortunately, it doesn't call any other event than `PlayerState.playing` :/

[2022-08-28 18:04] itsJoKr commented on #1242
@Tom3652 Ah, I think I have one bug that happens in your use case, can you try this one:

[code]

[2022-08-28 19:04] Tom3652 commented on #1242
Thank you very much i confirm this is working fine with the above git `reference` ! :)

[2022-08-29 18:14] MohammedGoder opened #1258 "Android: AudioPlayer.Play not working"
Nothing seems to happen when I invoke AudioPlayer.Play

It behaves as intended on Windows but not Android

Problematic Implementation:
[code]

Hacky Solution:
[code]

[2022-08-29 18:17] MohammedGoder opened #1259 "Android: Seeking while audio is in the paused state doesn't invoke onPositionChanged listeners"
It behaves as intended on Windows but not on Android.

Problematic Implementation:
[code]

Hacky Solution:
[code]

[2022-08-29 22:35] Gustl22 commented on #361
@amangautam1 does this affect all platforms? `setSource` should wait until source has been loaded.

[2022-08-29 22:42] Gustl22 commented on #385
I agree on having a variable to check the current rate, but I don't see a reason for a constantly updated stream, as it's controlled by the user.

[2022-08-30 08:31] #139 closed

[2022-08-30 09:39] under3415 opened #1260 "[Android] App crashes on mp3 play with `setDataSourceFD failed` or `MEDIA_ERROR_UNKNOWN` even with try/catch"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

App crashes on playing this mp3 file

## Current bug behaviour
App crashes with: "MediaPlayer error with what:MEDIA_ERROR_UNKNOWN {what:1} extra:MEDIA_ERROR_SYSTEM"

## Expecte

[2022-08-30 12:16] Gustl22 commented on #1186
You have to `setSource` or hand over a valid `UrlSource` before start playing. See [example](https://github.com/bluefireteam/audioplayers/blob/6fad1cc4443e623e5c94519f130b4004b2dc3857/packages/audioplayers/example/lib/tabs/sources.dart#L33)

[2022-08-30 12:16] #1186 closed

[2022-08-30 12:24] Gustl22 commented on #1249
@masus04 can you test with current `main` in pubspec.yaml?
[code]

This could be solved by #1192

[2022-08-30 12:25] Gustl22 commented on #1251
Can you provide a reproducable example? Plz use issue template!

[2022-08-30 12:30] Gustl22 commented on #1227
We are happy to review any Merge-Requests regarding this issue.

[2022-08-30 12:48] adrianvintu commented on #1251
Can't do, sorry. It happened for only a few users. You may close this ticket.

Thank you for your amazing work!

[2022-08-30 12:57] Gustl22 commented on #1250
@Tobi696 can you test with current `main` in pubspec.yaml? Or test your link inside [example](https://github.com/bluefireteam/audioplayers/blob/6fad1cc4443e623e5c94519f130b4004b2dc3857/packages/audioplayers/example/lib/tabs/sources.dart#L9) project?
[code]

I tried it also with previous commits and it played flawlessly.

[2022-08-30 13:17] Gustl22 commented on #1255
Confirmed, we are happy for any Merge Requests. I don't know exactly how to solve this, maybe it is sufficient just to install some codecs.
@azchohfi do you know how to approach different codecs?

Some refs:
https://docs.microsoft.com/en-us/windows/win32/api/mfmediaengine/
https://github.com/bluefireteam/audioplayers/blob/6fad1cc4443e623e5c94519f130b4004b2dc3857/packages/audioplayers_windows/windo

[2022-08-30 13:49] Tobi696 commented on #1250
@Gustl22 The problem was that my code looked like this:
[code]
Basically, I wanted the audioplayer to download the mp3 in advance, but not play it instantly, so I called pause() instantly after play(). That is what caused the error on Android.

[2022-08-30 14:42] Gustl22 commented on #1250
@Tobi696 can you test with current `main`? I think it is fixed there.

[2022-08-30 14:45] Gustl22 commented on #1251
Ok sorry for that, unfortunately we can only fix reproducible bugs. Feel free to open again, if you gain more information.

[2022-08-30 15:02] masus04 commented on #1249
It definitely seems to be related to the same issue but it does not seem to fix it..

[2022-08-30 15:09] masus04 commented on #1249
When I rebuild using the `pubspec.yaml` snippet you provided above, the code fix is still not present in my `Dart Packges` dir. Is it possible the change has not yet been fully merged to the parent repository?

[2022-08-30 15:11] masus04 commented on #1249
If I manually add the changed line to the dependency files, the `Unsupported operation: Infinity` error is no longer thrown, but I still can't pause and resume the audio playback.

[2022-08-30 16:20] Gustl22 commented on #1249
Which source do you play? Is it a live stream? I think the link for the sample was not updated in the issue description.
I'm pretty sure it was merged in the main branch. Maybe you should do a `flutter clean` before `flutter pub get` to get the according version.

[2022-08-30 17:19] masus04 commented on #1249
I cleaned the dependencies multiple times and the same thing happens on a full docker build, so that can't be the reason.

The source is a `FastApi` `StreamSource`

[2022-08-30 17:38] jobypthomas commented on #1163
I have the same issue. Any solution? @liang-notes?

[2022-08-30 21:09] Gustl22 commented on #1249
Oh I forgot, you also have to override the web implementation of course:

[code]

Ok, but which codec? `.mp3`, `.m3u8`, etc...

[2022-08-30 22:02] Tobi696 commented on #1250
Unfortunately, I still get the same issue, here you have my full widget:
[code]
Just use it in a scaffold's body and pass 'https://api.whatda.fit/sample-audios/MP%20Clapping%20Crunches%2045.mp3' as audioUrl.

[2022-08-30 22:44] Gustl22 commented on #1258
I tested by [replacing](https://github.com/Gustl22/audioplayers/blob/9865ae4e138bd43bc5f4287b1d944f09f9d830b4/packages/audioplayers/example/lib/tabs/sources.dart#L32) `setSource` with `play` in [my example](https://github.com/Gustl22/audioplayers/tree/feat/extended-tests) (where I have added a FilePicker) and didn't experience such behavior.

Can you retest with the example. Please use issue templ

[2022-08-30 23:00] Gustl22 commented on #1163
@ruoyifan I think you're right. Dart [doesn't support](https://api.flutter.dev/flutter/dart-core/EnumName.html#instance-properties) `name` extension until version `2.15`

Ref: [AVAudioSessionCategory](https://github.com/bluefireteam/audioplayers/blob/6fad1cc4443e623e5c94519f130b4004b2dc3857/packages/audioplayers_platform_interface/lib/api/audio_context_config.dart#L459). So you need at least **Flu

[2022-08-30 23:04] Gustl22 commented on #1250
Sorry I forgot to mention you also have to override the android dependency:

[code]

[2022-08-30 23:11] Gustl22 commented on #1250
Also you cannot play audio without context within `initState`.

Wrap your code to be executed, when build was executed:

[code]

[2022-08-31 03:44] darkcadmus007 opened #1261 "Low volume sound on IOS"
Low Volume Sound on IOS

[2022-08-31 04:37] jtmcdole commented on #1255
Does this project require (or have a stance) on pre-Windows 10 support?

[Opus in windows 10](https://docs.microsoft.com/en-us/windows/win32/medfound/audio-subtype-guids)

 | GUID | Description | Format Tag (FOURCC) |
 | ------ | ------------ | ------------------------- |
| MFAudioFormat_Opus | OpusSupported in Windows 10 and later. | WAVE_FORMAT_OPUS (0x704F) |

And a random note somewhere about

[2022-08-31 07:48] Tobi696 commented on #1250
The combination of using the dependency override and addPostFrameCallback() made it work for me.
Thank you a lot!

[2022-08-31 07:48] #1250 closed

[2022-08-31 07:55] Gustl22 commented on #1259
Thanks, same problem for web.

[2022-08-31 08:02] masus04 commented on #1249
Alright, overriding the web dependency did the trick for the `Infinity` issue :+1:

As for the source:
I upload the source dynamically in my example, so I tried both `mp3` and the example `coin.wav` file from the docs.

It seems the two issues were not directly related as the following error still appears when pausing and resuming an audio playback:
[code]

Should I close this issue and open a new

[2022-08-31 09:25] Gustl22 commented on #1255
I think [minimum supported Windows version](https://docs.flutter.dev/development/tools/sdk/release-notes/supported-platforms#supported-platforms) for Flutter is 7. But we only support Windows 8+, see #1140.

This also doesn't mean, we cannot add extra functionality which only works for Windows 10+ versions.

I never developed any windows applications, so I think I'm not a big help here ^^.
If you

[2022-08-31 09:28] Gustl22 commented on #1261
Closing in favor of #1194

[2022-08-31 09:28] #1261 closed

[2022-08-31 09:38] Gustl22 commented on #1249
Yes, that would be nice. Also it would help a lot to have a project as example, so we can reproduce the behavior. The best thing would be to clone and modify the [example](https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example), so that it reproduces your behavior. Or just simply create a quick project via `flutter create my_issue_project`

[2022-08-31 12:13] masus04 commented on #1249
I tried that but had some issues recreating it.. I'll give it another try :+1:

[2022-08-31 12:13] #1249 closed

[2022-08-31 12:28] masus04 opened #1264 "[web] Error when pausing and resuming audio from stream URLSource"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

An error is thrown when pausing a currently playing audioplayer using a URLSource from a stream. This breaks the audioplayer and makes it impossible to resume playing any sourc

[2022-08-31 12:30] masus04 commented on #1249
Opened separate issue for follow up: https://github.com/bluefireteam/audioplayers/pull/1247

[2022-08-31 12:31] masus04 commented on #1264
Followup issue for https://github.com/bluefireteam/audioplayers/issues/1249

[2022-08-31 13:27] Gustl22 commented on #1264
Ok thanks, it would be good to have at least a public API to test the UrlSource against. Otherwise it's almost impossible to help. Good luck.

[2022-08-31 18:28] MohammedGoder commented on #1258
It's replicable through the Android Emulator API version 32.

[2022-09-01 07:35] badboy-tian opened #1266 "feat: how to handle platform error?"
[code]

[2022-09-01 07:46] Gustl22 commented on #1266
It's currently broken. Will be fixed soon via: #1254

[2022-09-01 12:04] yakubmoris commented on #1150
Any update on this issue, We are also facing same issue in android if we try to play same file several time one after another.

[2022-09-02 10:33] masus04 commented on #1264
I managed to reproduce the error here: https://github.com/masus04/flutter-audiplayers-error

Make sure to run both the frontend & backend.
Commands are provided in the readme.

[2022-09-02 11:47] Gustl22 commented on #1258
Still working with API 32. Did you try [my example](https://github.com/Gustl22/audioplayers/tree/feat/extended-tests/packages/audioplayers/example). You can also clone it and replicate your problem there. Plz use proper **issue template** to better determine the source of the problem.

[2022-09-02 11:51] #1259 closed

[2022-09-02 12:15] Gustl22 commented on #1266
Ah I see, you mean to handle the error programmatically. I think currently this is not possible, but would be a good addition. The error are only logged.

[2022-09-02 14:39] Gustl22 commented on #1150
Seems like the Android `MediaPlayer` is still in another state while setting the source.

We added a bunch of fixes to the main branch, can you test your apps again with:
[code]

[2022-09-02 14:42] #1253 closed

[2022-09-02 18:36] Ephenodrom commented on #1193
Can we get a new release on pub.dev with this fix ?

[2022-09-02 19:00] leongkeng commented on #1193
yes please. Can we have an update release? I need this to be fixed desperately:(

[2022-09-02 23:23] Gustl22 commented on #1193
We still have some open Merge Requests which include fixes.

In the mean time you can override your dependencies in pubspec.yaml, e.g.:

[code]

[2022-09-03 09:28] Gustl22 commented on #1244
Byte Arrays are only supported on Android. See [parity table](https://github.com/bluefireteam/audioplayers/blob/main/feature_parity_table.md#main-features)
If you find a way to implement this for web, feel free to open a Merge Request.

[2022-09-03 09:28] #1244 closed

[2022-09-03 09:32] Gustl22 commented on #404
@volgin Is this fixed with 1.x.x?

[2022-09-03 09:36] Gustl22 commented on #468
@RaistlinTAO Can you check, is this still a thing with 1.x.x? Thx :) I cannot test for ios, unfortunately.

[2022-09-03 09:42] Gustl22 commented on #489
Implemented via #1068

[2022-09-03 09:42] #489 closed

[2022-09-03 09:49] Gustl22 commented on #504
@flippy16 @athul-ain @tamoyal can you check, is this still a thing with 1.x.x? Thx :)
Also can you provide a more detailed example or reproducable project?

[2022-09-03 10:00] Gustl22 commented on #512
Since this is quite old, and we added bunch of fixes to the android platform in e.g. #1247 and also provide tests, I'm closing this. Feel free to open a new report, if it's still a thing :)

[2022-09-03 10:00] #512 closed

[2022-09-03 10:04] Gustl22 commented on #514
I think the onPlayerError is not available in 1.x.x, closing in favor of #1266

[2022-09-03 10:04] #514 closed

[2022-09-03 10:08] Gustl22 commented on #516
Hi @cmcoffeedev can you check, is this still a thing with 1.x.x? Thx :)
Also it would be good to provide an example, if it still fails.

[2022-09-03 10:11] Gustl22 commented on #555
@hrongyong @jefflyne Can you check, is this still a thing with 1.x.x? Thx :) I cannot test for ios, unfortunately. Also it would be nice to have an example repo, to reproduce...

[2022-09-03 10:12] Gustl22 commented on #561
We are happy to review any Merge Requests, if you want to contribute.

[2022-09-03 10:21] Gustl22 commented on #571
Do you mean balancing like in #58, like changing the volume of left and right channel.

I think real stereo panning is not the goal, it's the task of audio DAWs:
https://www.pro-tools-expert.com/production-expert-1/the-difference-between-stereo-pan-and-stereo-balance

[2022-09-03 10:24] Gustl22 commented on #586
On which platforms do you experience this? Can you check, is this still a thing with 1.x.x? Thx :)

[2022-09-03 10:29] Gustl22 commented on #592
Implemented via 3c043f680e291cd3a81f3d36ae58504fd5ac71e9

[2022-09-03 10:29] #592 closed

[2022-09-03 10:33] Gustl22 commented on #616
@millionhz Can you check, is this still a thing with 1.x.x? Thx :)

[2022-09-03 10:35] Gustl22 commented on #621
@kekko7072 you can try to implement it yourself and make MR, if you want to afford some time :)

[2022-09-03 10:38] Gustl22 commented on #639
Did you add [usesCleartextTraffic](https://github.com/bluefireteam/audioplayers/blob/3946bccf33fc34e2954adf783893ef8df35a3fe6/packages/audioplayers/example/android/app/src/main/AndroidManifest.xml#L8) in Android Manifest?

[2022-09-03 13:51] #1023 closed

[2022-09-03 14:38] FluffyBunniesTasteTheBest opened #1269 "Byte array audio source (BytesSource, setSourceBytes) on iOS, MacOS, Linux and Web."
## Checklist
- [Yes] I made sure that the feature I am proposing doesn't already exist
According to the [Feature Parity Table](https://github.com/bluefireteam/audioplayers/blob/main/feature_parity_table.md#main-features) it doesn't.

## Use case / Problem
Which problem would be solved with this feature?
In general, it would enable us to play audio that's already in memory, which would also enable

[2022-09-04 05:17] chrisnorman7 commented on #571
@Gustl22
Yes, I mean like #58. Although that issue talks about using an integer, as in -1, 0, or 1. I've not tried the implemented feature, so I've no idea how it works, but I'd have thought a double from -1.0 to 1.0 would be more appropriate.

[2022-09-04 06:53] Gustl22 commented on #571
It's already partly implemented in #1248. I close this in favor of #58

[2022-09-04 06:54] #571 closed

[2022-09-04 07:01] leongkeng commented on #1193
After overriding it doesnt seemed to work for me.

In my pubspec.yaml:

`dependencies:
  flutter:
    sdk: flutter

  audioplayers: ^1.0.1

dependency_overrides:
  audioplayers:
    git:
      url: https://github.com/bluefireteam/audioplayers.git
      path: 'packages/audioplayers'
  audioplayers_platform_interface:
    git:
      url: https://github.com/bluefireteam/audioplayers.git
      path: '

[2022-09-04 08:41] chrisnorman7 commented on #571
@Gustl22
No problem, thank you.

[2022-09-04 20:29] Gustl22 commented on #1193
@leongkeng I noticed you can play a file in lowLatency, but now reusing the player. There still seems to be something off. Let's track this in #1176

[2022-09-05 07:05] plato79 commented on #1174
I'm also getting this error. Although, I'm only playing one file at a time. I execute audioplayer.stop then execute .play for another file after that.

The thing is it doesn't happen always, most of the time there's no problem but sometimes I get this error, and of course there's no audio playing.

My code is like this:

This part executes on next/prev button:
[code]

[code]

I pull audioUrl via c

[2022-09-05 07:28] Z6P0 commented on #639
Yes but it's useless as it's a HTTPS link here.

[2022-09-05 18:01] spydon commented on #1256
Can you be a bit more descriptive, what is it that you think is missing from the getting started page? And does that information exist in the example app?

[2022-09-05 20:26] Hallcoder commented on #1256
I mean , informing and emphasize that one need the audio cache when working
with local audio files

On Mon, Sep 5, 2022 at 8:01 PM Lukas Klingsbo ***@***.***>
wrote:

[2022-09-06 07:36] spydon commented on #1256
I think that it is pretty clearly explained here that you need the audio cache when working with local files?
https://github.com/bluefireteam/audioplayers/blob/main/getting_started.md#audiocache

[2022-09-07 12:33] ThuyenPV opened #1270 "module audioplayers_darwin not found on IOS device"
## Checklist
- [ ] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [ ] I made sure that the issue I am raising doesn't already exist

## Current bug behaviour

## Expected behaviour

## Steps to reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

<details>
<summary>Code sample</summary>

[co

[2022-09-07 15:08] Gustl22 commented on #1270
Plz fill the template. How are we supposed to help?

[2022-09-08 02:08] dougkeefe commented on #746
As am I. Same error and similar circumstances. I have 36 Audioplayers. Error happens eventually and inconsistently. Same error code

VERBOSE-2:ui_dart_state.cc(198)] Unhandled Exception: AVPlayerItem.Status.failed
#0      MethodChannelAudioplayersPlatform._doHandlePlatformCall
package:audioplayers_platform_interface/method_channel_audioplayers_platform.dart:174
#1      MethodChannelAudioplayersPla

[2022-09-08 05:52] suhashollakc opened #1271 "This expression has a type of 'void' so its value can't be used. Try checking to see if you're using the correct API; there might be a function or call that returns void you didn't expect."
Future<void> _play(int index) async {
    int result =  await _audioPlayer.play(_songsList[index].previewUrl,
        volume: _currentVolume);
    // Means AudioPlayer plugin has been successful in starting to play.
    if (result == 1) {
      setState(() {
        _showMusicControlsBar = true;
      });

    }

  }

How to fix this?

[2022-09-08 07:55] john990 commented on #1165
Encountered the same problem, also reduced the version to 0.20.1.

[2022-09-08 10:37] Gustl22 commented on #1165
@G0retZ  Does the click noise also appear in 0.20.1 ?

[2022-09-08 10:39] Gustl22 commented on #1271
Plz use issue template to properly determine where the bug is located.

[2022-09-08 18:52] spydon commented on #1271
`AudioPlayer.play` returns a `Future<void>`, so after it has been awaited it is simply void, you can't assign void to a variable.

[2022-09-08 18:52] #1271 closed

[2022-09-08 18:53] spydon commented on #1270
I'm closing this since not enough effort have been put into following the template, the checkboxes haven't even been checked.

[2022-09-08 18:53] #1270 closed

[2022-09-08 19:00] spydon commented on #1252
Closing this as stale, I think that this is the same as #1271.
Are you following a tutorial or something, since two people now have made that same mistake?

[2022-09-08 19:00] #1252 closed

[2022-09-09 13:25] hammadbawara opened #1274 "Crash on Android Error: java.util.ConcurrentModificationException"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

## Current bug behaviour

App crahses when user press many buttons at once in Xylophone app.

## Expected behaviour

I made a Xylophone App on flutter. You can click different

[2022-09-09 20:37] WaldsonFagundes commented on #183
i'm having trouble using google tts api in ios emulator i'm reading it as BytesSource. On the Android emulator it works OK. Has anyone already achieved something?

[2022-09-11 16:08] ThuyenPV commented on #1270
I'm sorry, my bad pull request :3

[2022-09-12 07:08] #1165 closed

[2022-09-12 07:08] #1176 closed

[2022-09-12 07:13] Gustl22 commented on #1193
@leongkeng can you test again with current `main`? Don't forget to delete pub git cache or add `ref` to overridden dependencies in order to get the latest changes.

[2022-09-12 07:27] spydon commented on #1194
If anyone wants to put up a PR for this it would be greatly appreciated (I don't have any Apple devices to properly test this with).

[2022-09-12 08:06] leongkeng commented on #1193
I did 'flutter clean' and 'flutter pub cache repair', then flutter pub get. Also I did overriding my dependencies following your previous comments but still did not work. I managed to play one sound then it stops playing, its the same issue.

this is my console output after i tried to play a second audio

`D/CCodec  (25605): allocate(c2.android.raw.decoder)
I/CCodec  (25605): Created component [c2

[2022-09-12 08:13] Gustl22 commented on #1193
@leongkeng can you recheck with our [example](https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example). _The tests run fine, so I'm not sure, why it shouldn't work_

Note that you have to call `stop` before play again, because the lowlatency player does not know, when a sample is finished playing (no duration available).
Or provide a minimal reproduction example in you

[2022-09-12 09:45] leongkeng commented on #1193
I tried running the example file and the output doesn't seem to be what I needed. It does allow me to play multiple audio but the first audio cuts when the second audio plays. Like you mentioned, I have to call 'stop' before play again means that I cannot have multiple audios playing concurrently?

It used to work in `audioplayers: ^0.15.1` version. Where the audio files are able to overlap one an

[2022-09-14 10:00] letungcntt opened #1277 "Log debug"
`avcore\audiocore\client\audioclient\audioclientvolume.cpp(193)\AUDIOSES.DLL!00007FFABD82A8CE: (caller: 00007FFABD82A9CE) ReturnHr(1) tid(a4c) 80004003 Invalid pointer`

I find this log when use Visual Studio 2019 debug

![image](https://user-images.githubusercontent.com/46608407/190124372-0ecdca7a-079e-4c50-a650-3040506ac67f.png)
![image](https://user-images.githubusercontent.com/46608407/1901245

[2022-09-14 12:31] Gustl22 commented on #1277
Plz use issue template, we cannot fix, if its not reproducible. Provide a step by step example...

[2022-09-14 13:45] arnirichard commented on #972
I can't play sound files in Thai,

```await player.play(AssetSource('assets/sounds/ผม.wav'))```

Error: NotSupportedError: The element has no supported sources.
C:/b/s/w/ir/cache/builder/src/out/host_debug/dart-sdk/lib/_internal/js_dev_runtime/private/ddc_runtime/errors.dart 299:10  createErrorWithStack
C:/b/s/w/ir/cache/builder/src/out/host_debug/dart-sdk/lib/_internal/js_dev_runtime/patch/core_p

[2022-09-16 03:36] #1277 closed

[2022-09-16 12:37] flmuse opened #1278 "Cross Fade between music tracks within a playlist"
## Checklist
- [x] I made sure that the feature I am proposing doesn't already exist

## Use case / Problem

Whilst listening to a playlist using this plugin, moving to the next music track in a playlist sounds really jarring.

This is due to the silence and dip in volume between music tracks because most music files fade-out to silence as they reach their end and fade-in from silence. As a result

[2022-09-17 05:19] guivr opened #1279 "Audiocache: Unhandled Exception: Unable to load asset"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

I'm trying to load a file that was saved by the package `sound_recorder` inside `getApplicationDocumentsDirectory()`, however, `AudioCache` is unable to load the file on Androi

[2022-09-18 18:50] Gustl22 commented on #1193
@leongkeng I checked the old implementation. I think this was more a bug than a feature. For each concurrent sound you should use a different instance of an `AudioPlayer` now. This also ensures that you can release the resources properly after closing the application.

Back then (<= v0.20.x) you could not control the sound in LOW_LATENCY correctly or just pause / stop the last of the sounds which

[2022-09-19 14:00] cybrox commented on #1150
@Gustl22 FWIW, I ran into the same issue when updating the plugin to `1.0.1` on an application that allows you to select different ringtones from a list. When tapping an entry in the list multiple times, the issue would eventually pop up.

I have added the dependency overrides to test with the latest version and **can no longer reproduce the issue**.

The code that I'm using is relatively simple.

[2022-09-20 08:04] leifcr commented on #1150
I'm seing a similar issue.
Code to reprduce:

[code]

Here is the stack trace:
[code]

If you have tips on how to debug, I'll be happy to test further on the device.

Same code works fine in emulator and on windows.

I've tested the main branch as well as v1.0.1

[2022-09-20 08:11] leifcr commented on #1150
For info: LowLatency mode on the main branch works on the same device, but that removes callbacks/seek.

[2022-09-20 11:48] pbaudri commented on #1242
Thanks a lot this is working fine :D

[2022-09-21 05:34] Gustl22 commented on #1150
@leifcr can you reproduce with our [example](https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example) on your device? _Tipp: hit the `play` method next to `setSource` and then you can play the selected source immediately_

Note that you also have to override the dependencies with main packages in pubspec there in order to ensure it's not fixed yet (or use `melos bootst

[2022-09-21 11:18] Gustl22 commented on #639
I also get an error, but another one:
[code]

[2022-09-21 11:21] Gustl22 commented on #639
But https://streaming-canal-u.fmsh.fr without valid certificate is forwarded to https://vod.canal-u.tv/ with a valid certificate.
I don't think my error comes from the certificate rather than the forwarding. If I play it from the forwarded source, it works fine.
Do you have a file url, which is not forwarded to another server and uses an invalid certificate?

[2022-09-21 11:56] Gustl22 commented on #869
Which android version has your emulator? What audioplayers version do you use?

Can you retest with current [example](https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example)?

For me it's stopping the audio stream, if I remove our example from recents. We don't even stop the stream in the example, when calling dispose. Plz provide a link to a full repo with a reproduc

[2022-09-21 11:59] #1163 closed

[2022-09-21 12:40] Gustl22 commented on #1264
I tried your example and could not reproduce the bug. I used the `test.mp3` in the root folder.

Maybe this is solved by #1268

Plz try again with this in your pubspec file:

[code]

[2022-09-21 13:45] Gustl22 commented on #972
We are lacking of mac, so we are dependent on the community to provide a Merge request. Thx.

[2022-09-21 13:49] Usama-Ishfaq101 commented on #1137
Is there any update on this issue as I'm facing the same issue, can be produced at multiple situations. If open player and navigate back before player is initialized fetching complete stream produces same error, play then pause/stop before all stream content is fetched produces same issue.

[2022-09-21 13:53] Gustl22 commented on #1278
This could be done by using two audio players simultaneously and lower the volume of the first track by a specified duration before the track duration ends. At the same time start another player with the next track and slowly fade in via volume.

I don't think this will be part of this library, as its too specific and exceeds the scope of this library. We can think about adding an additional packa

[2022-09-21 14:04] Gustl22 commented on #1174
Can you test with current main branch in pubspec.yaml?

[code]

[2022-09-21 14:11] plato79 commented on #1174
found out the problem was mine. On the flutter discord server **Xazin** helped me to solve the problem. I was stopping playback and starting another one immediately after. But it seems stop takes time and had to wait for it.. So `await stopPlayback()` then `await playAudio()` worked.

[2022-09-22 07:01] Usama-Ishfaq101 commented on #1137
Thanks, it did resolved the error in one place which is when playing/pausing before buffering. But it is still occur in below scenario,
If you navigate to audio page and click on play button, audio will start to  buffer, if you navigate back audio player to previous page before audio file is fetched, it throws exception. This is not much a problem but it happens.

[2022-09-23 15:19] Gustl22 commented on #58
Sorry, web, darwin and android are still missing...

[2022-09-24 19:53] ashmenon commented on #1217
+1 for this issue on iOS, plugin version 1.0.1. Also present on version 1.0.0.

I worked around this by adjusting the volume before and after setting the source.

[code]

[2022-09-25 00:25] Mae623 commented on #1105
I come across this problem too
flutter clean and rebuild doesn't work
is there any advices？

[2022-09-26 08:22] Z6P0 commented on #639
Here is an example: https://cdn-preview-e.deezer.com/stream/c-e6b5f2295c3af5280cc00b3bf842ff57-9.mp3

[2022-09-27 09:47] Gustl22 commented on #666
Should be fixed with 1.x.x. Please create a new issue when this error still occurs. In tests the duration is shown successfully:
https://github.com/bluefireteam/audioplayers/blob/2cb51b3071676cdb0d2211bec201fc5b05314691/packages/audioplayers/example/integration_test/tabs/stream_tab.dart#L71

[2022-09-27 09:47] #666 closed

[2022-09-27 09:53] Gustl22 commented on #668
Closing in favor of #361

[2022-09-27 09:58] Gustl22 commented on #691
Closing in favor of #374

[2022-09-27 09:58] #691 closed

[2022-09-27 10:01] Gustl22 commented on #699
Can you recheck with `audioplayers: ^1.1.0` ?

[2022-09-27 12:51] Gustl22 commented on #702
Is this still a thing with `audioplayers: ^1.1.0` ?

[2022-09-27 13:00] Gustl22 commented on #703
Can you retest with `audioplayers: ^1.1.0` ?

[2022-09-27 13:11] Gustl22 commented on #707
Is this still a thing in `audioplayers: ^1.1.0`? Retested (Android + LowLatency), but I only got a warning, when source is loaded. But not during playing. LowLatency can only play for 5 seconds anyways. But I think I never saw the error above 1.x.x.

[2022-09-27 13:29] Gustl22 commented on #741
I think lock screen won't be supported: https://github.com/bluefireteam/audioplayers/blob/2cb51b3071676cdb0d2211bec201fc5b05314691/feature_parity_table.md?plain=1#L74

Regarding the stuttering. I don't think there's anything we can do about. Stuttering on the simulator can come from anything (e.g. not enough performance on your Mac). Better test on a real device.

[2022-09-27 13:29] #741 closed

[2022-09-27 13:32] Gustl22 commented on #746
Is this still a thing in `audioplayers: ^1.1.0` ?

[2022-09-27 13:37] #1011 closed

[2022-09-27 13:41] Gustl22 commented on #750
Is it still failing with `audioplayers: ^1.1.0` ?

[2022-09-27 13:43] Gustl22 commented on #751
I'm pretty sure it's solved in `audioplayers: ^1.1.0`. Feel free to comment, if it's not the case.

[2022-09-27 13:43] #751 closed

[2022-09-27 13:54] Gustl22 commented on #758
Mp3 isn't reliably in terms of duration.
For mp3s with Variable Bit Rate, you have to calculate it while playing. This is dependent on the implementations of the media players on the underlying platforms.

See: https://stackoverflow.com/questions/10437750/how-to-get-the-real-actual-duration-of-an-mp3-file-vbr-or-cbr-server-side

[2022-09-27 13:54] #758 closed

[2022-09-27 13:58] Gustl22 commented on #768
Can you retest with `[audioplayers ](audioplayers: ^1.1.0` ?

[2022-09-27 14:10] Gustl22 commented on #813
can you retest with `audioplayers: ^1.1.0` and current flutter version (3.x.x)?

[2022-09-27 14:12] Gustl22 commented on #823
Closing in favor of #1269

[2022-09-27 14:12] #823 closed

[2022-09-27 14:18] Gustl22 commented on #843
Can you reconfirm with `audioplayers: ^1.1.0`. This release also includes waiting for the `prepare` statement.

[2022-09-27 14:19] Gustl22 commented on #858
Can you confirm with `audioplayers: ^1.1.0` ? There were many improvements since then. Maybe it was solved?

[2022-09-27 14:20] Gustl22 commented on #860
Closing in favor of #1269

[2022-09-27 14:20] #860 closed

[2022-09-27 14:22] Gustl22 commented on #864
Can you confirm on `audioplayers: ^1.1.0` ?

[2022-09-27 14:26] #871 closed

[2022-09-27 14:28] Gustl22 commented on #877
Can you retest with latest `audioplayers: ^1.1.0` ? Thx :)

[2022-09-27 14:30] Gustl22 commented on #878
Fixed via #1268

[2022-09-27 14:30] #878 closed

[2022-09-27 14:35] Gustl22 commented on #885
I think this was reimplemented since `1.x.x`. Feel free to open a new issue, if the error still occurs.

[2022-09-27 14:35] #885 closed

[2022-09-27 14:42] Gustl22 commented on #891
Just can use a map to save the players with their according urls right after initializing? Also AudioCache already "caches" the urls on your device. Of course it will be a bit more faster, if you hold the player as reference. Closing, as it should be up to developer, how to handle this.

[2022-09-27 14:42] #891 closed

[2022-09-27 14:49] Gustl22 commented on #922
@akashb95 there's no `audioplayers v2.0.0` (?)

I think you should test with flame_audio: `1.3.1` again.

[2022-09-27 14:49] #922 closed

[2022-09-27 15:03] Gustl22 commented on #935
Can you retest with `audioplayers: ^1.1.0` ?

[2022-09-27 15:05] #944 closed

[2022-09-27 15:05] luis901101 commented on #858
I will test it

[2022-09-27 15:08] Gustl22 commented on #1278
Closing, see #945

[2022-09-27 15:08] #1278 closed

[2022-09-27 15:12] Gustl22 commented on #959
As commented, I don't think it's a problem with audioplayers package.

[2022-09-27 15:12] #959 closed

[2022-09-27 15:15] Gustl22 commented on #961
Can you recheck with `audioplayers: ^1.1.0`?

[2022-09-27 15:17] Gustl22 commented on #962
Can you recheck with `audioplayers: ^1.1.0` ?

[2022-09-27 15:20] Gustl22 commented on #966
Is this still a thing in `audioplayers: ^1.1.0` ? If yes, do you want to make a PR for this?

[2022-09-27 15:22] Gustl22 commented on #972
Seems also related to #748 #803

[2022-09-27 15:24] Gustl22 commented on #977
Can you recheck with `audioplayers: ^1.1.0` ?

[2022-09-27 15:27] Gustl22 commented on #978
Can you recheck on `audioplayers: ^1.1.0` ?

[2022-09-27 15:31] Gustl22 commented on #1005
Close in favor of #911

[2022-09-27 15:31] #1005 closed

[2022-09-27 15:44] Gustl22 commented on #1007
Which platform? This is too few information, sorry.

[2022-09-27 15:44] #1007 closed

[2022-09-27 15:45] Gustl22 commented on #1008
Which platform? Is it still a problem in `audioplayers: ^1.1.0` ?

[2022-09-27 15:47] Gustl22 commented on #1009
This should be fixed in `audioplayers: ^1.1.0`

[2022-09-27 15:47] #1009 closed

[2022-09-27 15:52] #1022 closed

[2022-09-27 15:54] Gustl22 commented on #1024
Maybe relevant for #1284

[2022-09-27 15:56] Gustl22 commented on #1028
Can you post a proper issue with the issue template?

[2022-09-27 15:56] #1028 closed

[2022-09-27 16:15] Gustl22 commented on #1033
See: #683 #1039 #1215 #1167 #1033

[2022-09-27 16:16] Gustl22 commented on #1039
Closing in favor of #1033

[2022-09-27 16:16] #1039 closed

[2022-09-27 16:16] Gustl22 commented on #1215
Closing in favor of #1033

[2022-09-27 16:16] #1215 closed

[2022-09-27 16:16] Gustl22 commented on #1167
Closing in favor of #1033

[2022-09-27 16:16] #1167 closed

[2022-09-27 16:23] Gustl22 commented on #118
Closing in favor of #1038

[2022-09-27 16:23] #118 closed

[2022-09-27 16:25] Gustl22 commented on #1038
We would be happy to have an iOS developer, who can contribute to this library and submit a PR to this topic.

[2022-09-27 16:29] Gustl22 commented on #1042
Did you test on `audioplayers: ^1.x.x` ? See also #1033

[2022-09-27 16:30] #1053 closed

[2022-09-27 16:32] Gustl22 commented on #1055
Can you try with `audioplayers: ^1.1.0` ?

[2022-09-27 16:33] Gustl22 commented on #1058
Which version? Can you test with `audioplayers: ^1.1.0` ?

[2022-09-27 16:35] Gustl22 commented on #1059
Play returns `void`. So it's probably 0. Nothing wrong here.

[2022-09-27 16:35] #1059 closed

[2022-09-27 16:36] Gustl22 commented on #1060
Should be solved by now.

[2022-09-27 16:36] #1060 closed

[2022-09-27 16:59] Gustl22 commented on #1069
I think so, if you have the permissions. But for external storage I'm not sure: https://github.com/flutter/flutter/issues/40504
Maybe you need a third party package to access it.

[2022-09-27 16:59] #1069 closed

[2022-09-27 16:59] xizan commented on #1069
 您好！   邮件已收到、 祝您生活愉快、 谢谢！
Hello! your mail is received,good luck to you.Thank you !

[2022-09-27 17:07] Gustl22 commented on #1103
Closing in favor of #58

[2022-09-27 17:07] #1103 closed

[2022-09-27 17:13] Gustl22 commented on #1105
Can you provide a working code sample in a repository? This method doesn't exist in this package.

[2022-09-27 17:19] Gustl22 commented on #1114
@poka-IT can I close this? Seems like it's dependent on the Windows SDK?

[2022-09-27 17:26] Gustl22 commented on #1131
Use example from source then:
https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example

[2022-09-27 17:26] #1131 closed

[2022-09-27 17:28] JohannaShiri commented on #1024
I get it that one of them doesn't have duration. The problem is that the app crashes as a consequence.
There should be a null check and then an error without a crash.

[2022-09-27 17:28] Gustl22 commented on #1136
@AkhtarAli11 Doesn't seem to react on help, Thank you @ayinloya . Closing :)

[2022-09-27 17:28] #1136 closed

[2022-09-27 17:30] Gustl22 commented on #1139
Can you try with `audioplayers: ^1.1.0` again? Please fill the issue template.

[2022-09-27 17:32] Gustl22 commented on #1141
Can you check if it's fixed in `audioplayers: ^1.1.0`. Also provide a proper issue template with example repository.

[2022-09-27 17:37] Gustl22 commented on #1147
Can you retest with `audioplayers: ^1.1.0` ?

[2022-09-27 17:39] Gustl22 commented on #1149
Also works for me. Try upgrading flutter...

[2022-09-27 17:39] #1149 closed

[2022-09-27 17:40] Gustl22 commented on #1148
Plz use propper issue template (version, reproducable code, etc.)

[2022-09-27 17:48] Gustl22 commented on #1153
This depends on the native players themselves:
I think Android [MediaPlayer](https://developer.android.com/reference/android/media/MediaPlayer.OnBufferingUpdateListener) and ios [AVPlayer](https://developer.apple.com/documentation/avfoundation/avplayer) do this already.

[2022-09-27 17:54] Gustl22 commented on #1160
You can also test now with `audioplayers: ^1.1.0`

[2022-09-27 17:57] Gustl22 commented on #1181
Just call stop on the current AudioPlayer and then call play. Also it should stop itself, if you load in a new url.

[2022-09-27 18:04] Gustl22 commented on #1183
I think it would be appropriate to trigger this event after every loop.
https://github.com/bluefireteam/audioplayers/blob/main/getting_started.md#completion-event

Otherwise it would be useless in loop mode, as it will never finish by itself.
If you want you can start a PR and add tests. But I don't know if there's a right way to do this on android :)

[2022-09-27 18:09] Gustl22 commented on #1187
Can you file a proper issue? SetUrl is the old version of audioplayers. Please use `audioplayers: ^1.1.0`

[2022-09-27 18:12] Tobi696 opened #1288 "AudioPlayer plays sound through ear speaker on iPhone"

[2022-09-27 18:13] Gustl22 commented on #1024
@JohannaShiri we would be happy, if you provide a fix. We're not able to test on ios / macos, as lacking the needed devices.

[2022-09-27 18:22] Gustl22 commented on #1200
First one via: #1275

[2022-09-27 18:22] #1200 closed

[2022-09-27 18:37] Gustl22 commented on #1203
I think it's fixed in #1268 and #1247

[2022-09-27 18:46] Gustl22 commented on #1210
Hey community, can you help out with a Pull Request here? It's easier than you think. We are lacking of ios / mac devices :)

[2022-09-27 18:48] #1218 closed

[2022-09-27 18:52] Ephenodrom commented on #1055
@Gustl22 Will give it a try tomorrow and give some feedback.

[2022-09-27 18:59] Gustl22 commented on #1225
Yes, `player.audioCache.clear('/my/url/or/path');` should be enough. Can I close this?

[2022-09-27 19:04] Gustl22 commented on #1227
I think this should be fixed via #1247 and #1272. Feel free to comment, if it still occurs.

[2022-09-27 19:04] #1227 closed

[2022-09-27 19:08] Gustl22 commented on #1228
Can you check again with `audioplayers: ^1.1.0` ? Also please don't mix two issues in one. Then create two separate issues, with its own issue template. Thx :)

[2022-09-27 20:07] Gustl22 commented on #1231
You may have a look at our [example](https://github.com/bluefireteam/audioplayers/blob/2cb51b3071676cdb0d2211bec201fc5b05314691/packages/audioplayers/example/lib/tabs/sources.dart#L39).

@adrianvintu No need to set audiocache for yourself anymore. Also don't know, why you initialize the audioplayer on every call. You need either a list of audioplayers to play multiple audiosources simultaneously.

[2022-09-27 20:20] adrianvintu commented on #1231
`No need to set audiocache for yourself anymore` - I don't  understand, I need to set the `prefix: "assets/sounds/"`

`Also don't know, why you initialize the audioplayer on every call.` - it's because of this `    instance.setReleaseMode(ReleaseMode.loop);`

You did not give any working example on the `playListSilently` issue.

Sorry, I cannot see how your comment helps improving the requirements

[2022-09-27 20:30] Gustl22 commented on #1234
Also `AudioCache` is only used for AssetSource. @luanpotter maybe we should explain this [here ](https://github.com/bluefireteam/audioplayers/blob/main/getting_started.md#audiocache)in more detail, that this isn't needed for the AssetSource anymore.

For the network, we don't provide a mechanism (yet), to cache them, and audioplayers never did. This should be handled here: #374

[2022-09-27 20:38] Gustl22 commented on #1235
I think this is out of scope of this library. You either have to use **multiple instances of AudioPlayers** or generate your own source.
I found this maybe you can transfer it to dart somehow:
https://stackoverflow.com/a/33913403/5164462

I close this, as it's not the task of audioplayers to generate sounds :)

[2022-09-27 20:38] #1235 closed

[2022-09-27 20:40] #1237 closed

[2022-09-27 20:52] Gustl22 commented on #500
This method doesn't exist anymore. Closing in favor of #1240

[2022-09-27 20:52] #500 closed

[2022-09-27 20:59] Gustl22 commented on #1240
I think you have to set [AudioContext](https://github.com/bluefireteam/audioplayers/blob/2cb51b3071676cdb0d2211bec201fc5b05314691/packages/audioplayers_platform_interface/lib/api/audio_context_config.dart#L173) for each platform for yourself.

See example: https://github.com/bluefireteam/audioplayers/blob/2cb51b3071676cdb0d2211bec201fc5b05314691/packages/audioplayers/example/lib/tabs/audio_context

[2022-09-27 21:02] Gustl22 commented on #1256
I agree it could be a bit more clear, for which sources you need to use the AudioCache, and what it cannot do. In fact it is only relevant for `AssetSource`.

[2022-09-27 21:05] Gustl22 commented on #1234
Closing in favor of #1256

[2022-09-27 21:05] #1234 closed

[2022-09-27 21:12] Gustl22 commented on #1260
Thanks for the detailed report: Can you test again with `audioplayers: ^1.1.0` ? Also I cannot find the `MEDIA_ERROR_UNKNOWN` error in your logs?

[2022-09-27 21:13] Gustl22 commented on #1264
You can now also use the newest release: `audioplayers: ^1.1.0`

[2022-09-27 21:16] Gustl22 commented on #1274
You can also test now with the newest release `audioplayers: ^1.1.0`

[2022-09-27 21:19] Gustl22 commented on #1279
Can't you just use [DeviceFileSource](https://github.com/bluefireteam/audioplayers/blob/main/getting_started.md#sources) without using AudioCache?

[2022-09-27 21:21] Gustl22 commented on #1288
Please file the issue template. We are not having a chance to reproduce the issue. Although we don't have the resources at the moment to handle ios bugs :/

[2022-09-27 21:38] Gustl22 commented on #1055
Also see #146

[2022-09-27 22:16] poka-IT commented on #1114
Yes, thank you

[2022-09-27 22:16] #1114 closed

[2022-09-27 22:35] fzyzcjy commented on #1153
Thank you!

[2022-09-27 23:11] Gustl22 commented on #1231
[code]

[2022-09-27 23:16] #1153 closed

[2022-09-28 03:27] guivr commented on #1279
I can't, because I'm using AudioCache to fix another issue (#1225)

[2022-09-28 03:27] guivr commented on #1225
Yes, thanks :)

[2022-09-28 07:13] #1225 closed

[2022-09-28 09:30] nikitatg commented on #1042
I've just tested this on 1.1.0 audioplayers. Still observing issue

Trying to play AAC in m4a container. Randomly duration can be null, but may be not. In debug mode works stable.

[2022-09-29 07:05] yoer commented on #1240
Speaker

force to speaker, is not success .
just run the latest example, also no success

[2022-09-29 07:10] yoer opened #1289 "'Force Speaker' is not work in the audioplayers example"
you can run and test, it's not about calling time to set config
it's also not work in the project example

[2022-09-29 15:53] Sherif-2001 opened #1290 "App crashes when I play multiple sounds"
The app crashes when I play a bgm with sound effects and give me this error

D/AndroidRuntime(10672): Shutting down VM
E/AndroidRuntime(10672): FATAL EXCEPTION: main
E/AndroidRuntime(10672): Process: com.example.dino_game, PID: 10672
E/AndroidRuntime(10672): java.util.ConcurrentModificationException
E/AndroidRuntime(10672): 	at java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java

[2022-09-30 08:44] Sherif-2001 commented on #1274
I have the same issue; I am using the latest version of audioplayers and Flame_Audio and this error appears when I play a bgm with sound effects

[2022-09-30 11:09] Marvin10193 commented on #843
Hey,
sorry I am no longer working on the App as it only was semester task and currently I have no time to reconfirm. GL for the future though :)

[2022-09-30 17:57] Slluxx commented on #361
I dont think thats the case if `setSource` is executed within any kind of eventhandler, like `onPressed`. And thats the exact reason why i came across this issue. Id like to give my buttons a different icon/text based on the loading state and some kind of buffer state would be really helpful.

[2022-10-01 07:58] admincode1 opened #1295 "stayAwake not working as expected in Android."
Audioplayers v1.1.0.

      iOS: AudioContextIOS(
        defaultToSpeaker: true,
        category: AVAudioSessionCategory.playAndRecord,
        options: [
          AVAudioSessionOptions.defaultToSpeaker,
        ],
      ),
      android: AudioContextAndroid(
        isSpeakerphoneOn: true,
        stayAwake: true,
        contentType: AndroidContentType.music,
        usageType: AndroidUsageTy

[2022-10-02 19:47] Ankit098126 commented on #531
anyone can find solution for this plz tell me  and i try ti find from last 1 week and not able to find any solution for this

[2022-10-02 22:59] Gustl22 opened #1296 "[v1.1.0] Error: Message responses can be sent only once"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

This error occurs, if calling `getDuration` on MacOS.

## Current bug behaviour
Getting this error message:

[code]

## Expected behaviour

Not to get any error message.

## St

[2022-10-03 05:20] womandroid commented on #1270
I have the same issue, but I found this occurs in the Release mode.

[2022-10-03 14:14] tozu commented on #1194
Hi!
I would be interested looking into fixing this issue :)

[2022-10-03 19:40] spydon commented on #1290
Duplicate of https://github.com/bluefireteam/audioplayers/issues/1274

[2022-10-03 19:40] #1290 closed

[2022-10-03 19:40] spydon commented on #1288
Duplicate of https://github.com/bluefireteam/audioplayers/issues/1194

[2022-10-03 19:40] #1288 closed

[2022-10-03 19:41] spydon commented on #1289
Duplicate of https://github.com/bluefireteam/audioplayers/issues/1194

[2022-10-03 19:41] spydon commented on #1289
Or I think this is a duplicate, what platform was this on?
Please fill in the issue template properly next time.

[2022-10-05 00:23] #1181 closed

[2022-10-05 00:23] #1187 closed

[2022-10-05 00:23] #1220 closed

[2022-10-05 00:23] #1177 closed

[2022-10-05 06:05] #1024 closed

[2022-10-05 19:43] Yesterday17 commented on #788
I'm facing a similar problem today. The player failed to play the next track in background if the playback is initiated on dart side(`onPlayerComplete`). But it does works if it's triggered on system side using controllers provided by iOS itself, such
 as notification.

I'm not familiar with iOS developing. But after searching for hours, I think the cause should be: `play` function called by `resu

[2022-10-06 08:16] Gustl22 commented on #1194
Hi @tozu, you're welcome. Just start a Merge Request, if you feeling ready :)

[2022-10-06 21:11] 12people commented on #1150
1.1.0 seems to have fixed things for me — at least for now.

[2022-10-06 21:13] 12people commented on #1150
Nevermind — just as I wrote this, ran into the bug again:

[2022-10-07 07:10] spydon commented on #1274
@luanpotter @Gustl22 any clue how this could be solved?
I'm not proficient enough with how the map is passed between Dart and Kotlin, it seems like it's not possible to pass a `ConcurrentMap` at least and I've also tried to make a copy of the map before looping it but without success, it still throws the `ConcurrentModificationException`.
We have a lot of people reporting this error on Discord.

[2022-10-07 09:39] vishalpatel1327 commented on #1279
same issue. i cant load mp3 file from assets folder

`E/flutter ( 5794): [ERROR:flutter/runtime/dart_vm_initializer.cc(41)] Unhandled Exception: Unable to load asset: assets/audio/beep.mp3
E/flutter ( 5794): #0      PlatformAssetBundle.load (package:flutter/src/services/asset_bundle.dart:258:7)
E/flutter ( 5794): <asynchronous suspension>
E/flutter ( 5794): #1      AudioCache.fetchToMemory (packag

[2022-10-08 03:01] yoer commented on #1194
`
    final AudioContext audioContext = AudioContext(
      iOS: AudioContextIOS(
        defaultToSpeaker: true,
        category: AVAudioSessionCategory.ambient,
        options: [
          AVAudioSessionOptions.defaultToSpeaker,
          AVAudioSessionOptions.mixWithOthers,
        ],
      ),
      android: AudioContextAndroid(
        isSpeakerphoneOn: true,
        stayAwake: true,

[2022-10-08 03:03] yoer commented on #1194
[code]

i change some android config, and work

[2022-10-08 03:04] yoer commented on #1289
[code]
work after set these context

[2022-10-08 15:39] #1274 closed

[2022-10-08 15:50] spydon commented on #1274
I just released v1.1.1 with a fix for this, @Gustl22 saves the day again!
![image](https://user-images.githubusercontent.com/744771/194716057-3d124327-c4bf-47f3-943c-72e2948efe56.png)

[2022-10-08 18:27] Gustl22 commented on #1231
@adrianvintu was this example sufficient? I think this is a special case, which doesn't need to be provided in the library.

[2022-10-08 18:34] Gustl22 commented on #1137
@Usama-Ishfaq101 can you raise a new issue, if it still occurs, with as much detail as needed?

[2022-10-08 18:48] Gustl22 commented on #639
Confirmed, but still getting:
[code]

[2022-10-09 09:46] RishiKar opened #1300 "Unexpected error! when playing audio file using DeviceFileSource on Android"
## Checklist
- [X] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [X] I made sure that the issue I am raising doesn't already exist

1. I am unable to play audio files that are recorded and stored in the device local storage using DeviceFileSource on Android without re-running the app.
2. I am able to play a

[2022-10-09 20:30] maxguy opened #1301 "Seem not working in android. I get "Illegal audio focus gain type 0" on player.resume();"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

## Current bug behaviour

Edit(Gustl22): Setting `audioFocus: AndroidAudioFocus.none`

## Expected behaviour

## Steps to reproduce

1. Execute `flutter run` on the code sample

[2022-10-10 09:12] liujuan1018 opened #1302 "【1.1.1】audioplayers setSourceUrl() based on flutter-elinux not found on ARM linux devices and weston"
## Checklist
- [ ] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [ ] I made sure that the issue I am raising doesn't already exist

1.I am able to play audio files on linux ubuntu PC.
2.I am able to play audio files on web.
3. I am unable to play audio files on ARM linux development board and weston.

## Cu

[2022-10-10 09:29] Gustl22 commented on #1302
See #1154
Seems like flutter thinks that arm is a different platform than linux. Maybe this is a thing of flutter, but haven't done any research yet.

[2022-10-10 17:52] RishiKar commented on #1300
Hi, I did some more testing as well as tried the solutions of using `mode: Playermode.mediaPlayer` but to no avail.
I tried changing name to small case - did not work
I tried rolling back to 1.0.0 but does not work
I also tried to check whether any async function is not being awaited for - looks all good

The behaviour is baffling as the app on being closed and restarted plays the same file flawle

[2022-10-11 02:02] luojt opened #1303 "Nuget.exe not found, trying to download or use cached version."
Running projects on Windows 11 will get stuck.
`Nuget.exe not found, trying to download or use cached version.`

[2022-10-11 02:57] luojt commented on #1303
move nuget.exe to  C:\Windows\  ,Run successfully.

[2022-10-11 03:24] rpungin commented on #1289
@yoer , I am using this exact `AudioContextIOS` as in your example, but I ma getting no sound on my iPhone 11 running iOS 15.6.1. If I change `category` to `AVAudioSessionCategory.playback`, I do get the sound coming out of the speaker, but it stops the background music I have playing in Spotify for instance. How can I get it so that my app plays the sounds alongside with already playing music by

[2022-10-11 05:06] liujuan1018 commented on #1302
I run the app on elinux with Platform.isLinux code, the result is true. I think the platform of elinux  is linux.

[2022-10-11 07:47] shady-ti commented on #1144
That would be greatly appreciated.

On Mon, 27 Jun 2022, 1:44 pm Gustl22, ***@***.***> wrote:

[2022-10-13 19:22] spydon commented on #1300
Is the app done writing to the file and has closed the socket and flushed etc before you try to play from it?

[2022-10-14 22:36] daniryckidinata opened #1304 "some audio on ios freezes"
i made the program run audio continuously and it freezes can't run audio on ios. looks like it needs an update on ios?

[2022-10-16 16:08] ondev opened #1305 "Prepare failed.: status=0x1, java.io.IOException: Prepare failed.: status=0x1"
when play local file, will get the error.
`V/MediaPlayer(24735): resetDrmState:  mDrmInfo=null mDrmProvisioningThread=null mPrepareDrmInProgress=false mActiveDrmScheme=false
V/MediaPlayer(24735): cleanDrmObj: mDrmObj=null mDrmSessionId=null
W/MediaPlayerNative(24735): info/warning (10110, 0)
E/MediaPlayerNative(24735): error (1, -2147483648)
D/AudioPlayers(24735): Unexpected error!
D/AudioPlayers(

[2022-10-16 17:30] Gustl22 commented on #1305
Plz use proper issue template and reproduction sample.

[2022-10-18 07:31] RishiKar commented on #1300
Hi @spydon the app is done writing to the file. Is there a way for me to check the closure and flushing methods?
Also, on iOS, the exact same code is run. Would there be any platform specific behaviour that would create this?

[2022-10-18 07:33] PiyushSorathiya opened #1306 "Crash app : Audio Players in android version 5.1.1 (Lollipop) using Flutter"
## Error
Rejecting re-init on previously-failed class java.lang.Class<xyz.luan.audioplayers.ByteDataSource>
E/AndroidRuntime( 4523): FATAL EXCEPTION: main
E/AndroidRuntime( 4523): Process: com.rajkot.gurukul.mantrajapcount, PID: 4523
E/AndroidRuntime( 4523): java.lang.NoClassDefFoundError: xyz.luan.audioplayers.ByteDataSource
E/AndroidRuntime( 4523): 	at xyz.luan.audioplayers.AudioplayersPlugin.ha

[2022-10-18 07:58] Gustl22 commented on #1306
We don't support older versions of audioplayers. Plz update to latest version ^1.x.x

[2022-10-19 08:51] hct-berkay opened #1307 ""setSourceBytes is not currently implemented on iOS""
Hello, audio playback works smoothly on the android side, but it gives an error on ios.

My voice_play_widget.dart codes:

[code]
The button I triggered to play the audio recording:
[code]
The error I encountered in the console:
"setSourceBytes is not currently implemented on iOS"

![6efd7578-ae8d-4942-864f-4de9074a859b](https://user-images.githubusercontent.com/104488112/196643852-8fb02eff-60dc-4

[2022-10-19 15:51] abhay99199 opened #1308 ".play not working in version 1.1.1"
## Checklist
- [ ] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [ ] I made sure that the issue I am raising doesn't already exist

## Current bug behaviour

## Expected behaviour

## Steps to reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

<details>
<summary>Code sample</summary>

[co

[2022-10-19 21:04] Gustl22 commented on #1308
Plz fill issue template ;)

[2022-10-20 13:24] adnanatif commented on #1194
@agordeev  thanks this save my day

[2022-10-21 02:12] luojt commented on #1100
me too

[2022-10-21 03:41] wadychou opened #1311 "[android] after audioPlayer.dispose() , then new a AudioPlayers to play the same mp3 local not work!"
Android  only

[code]

[2022-10-21 12:23] Gustl22 commented on #1304
Can you fill the issue template? Which version, how to reproduce, example etc.!

[2022-10-21 12:24] #1307 closed

[2022-10-21 12:27] Gustl22 commented on #1303
Which version of Windows SDK do you use? See #1114

[2022-10-21 12:33] Gustl22 commented on #1311
which audioplayers version and flutter version do you use?

[2022-10-22 00:26] #1174 closed

[2022-10-22 00:26] #1258 closed

[2022-10-22 12:41] interpre commented on #1306
I got the same issue on Android Version 12.
version: audioplayers: ^1.1.0

[2022-10-22 13:19] guivr commented on #1279
Sorry, is there any workaround to fix this issue? :(
Can't launch my app for Android only because of this

[2022-10-24 00:26] #1305 closed

[2022-10-24 15:29] fakhrii opened #1312 "player.stop() not working properly when called from background"
## Checklist

I'm playing a notification sound in loop mode and trying to stop when the app is in the background.
I'm using the package [system_alert_window](https://pub.dev/packages/system_alert_window) and its callback function i'm calling
[code]

flutter doctor -v
[✓] Flutter (Channel stable, 2.8.1, on macOS 12.5 21G72 darwin-arm, locale en-TN)
    • Flutter version 2.8.1 at /Users/macbook/Dev/

[2022-10-24 17:56] alexcherniatin commented on #1301
Problem caused by setting audio context with: "audioFocus: AndroidAudioFocus.none" value.

[2022-10-25 17:53] lucagonzalez commented on #1210
Is anyone working on this? Can I go for it?

[2022-10-25 18:17] lucagonzalez commented on #1210
I can't replicate this. Using Flutter 3.0.5, iOs 16.0, Dart 2.17.6. I'm downloading iOs 15.5 and I'll see if I can replicate that

[2022-10-26 01:34] wadychou commented on #1311
audioplayers: ^1.1.1
Flutter (Channel stable, 3.3.2, on macOS 12.6 21G115 darwin-arm
android 10

[2022-10-26 02:00] wadychou opened #1313 "I want to draw waveforms. How to do?"
I want to draw waveforms. How to do?

[2022-10-26 03:15] Gustl22 commented on #1313
See either #821 or #1235

[2022-10-26 03:16] #1313 closed

[2022-10-26 20:08] Cofinlord commented on #1308
I have a similar issue. Dr Angela Yu course uses this package to build her xylophone beginner application. I am unable to play using audiocache
 await player.setSource(AssetSource('sounds/coin.wav'));
Forgive me if i apprached this the wrong way. I am new to github.

[2022-10-27 05:59] Gustl22 commented on #1308
@Cofinlord can you open a separate issue and filling the template. Otherwise we cannot help.
Regardless of that, usually you don't need to deal with audiocache anymore. The library takes care of that.

[2022-10-27 08:23] Frank-Bean commented on #1311
Encountered the same problem

[2022-10-27 13:28] Sundin opened #1314 "How to handle missing remote files?"
Hello! Anyone knows if there's a way to handle missing files when playing from a remote (https) source?
I.e., either checking if the file exist, or catching the error when it occurs. The use case could be for example to play a fallback file in that case.

Sample code:

[code]

I get this error in the log whenever I pass in a faulty `soundPathUrl`:

`flutter: Unexpected platform error: AVPlayerItem

[2022-10-27 17:39] RishiKar commented on #1300
@spydon @Gustl22 You were correct. Thank you! It seemed to be a problem of another recording package that was not releasing resources. Hence the error message of prepare failed. I forced disposed and released all resources and then it started working. Crazy that it worked on iOS and not on Android.
I will close this now

[2022-10-27 17:39] #1300 closed

[2022-10-27 22:15] spydon commented on #1300
Glad you managed to sort it out, and thanks for telling us!

[2022-10-28 00:23] #1228 closed

[2022-10-28 00:23] #1160 closed

[2022-10-28 03:12] SAROLOVE opened #1317 "Is this package has support to desktop application also?"
Android & Web working fine. But not working in windows and linux.

[2022-10-28 03:13] SAROLOVE commented on #1317
I got following error on linux.

CMake Error at /usr/share/cmake-3.22/Modules/FindPkgConfig.cmake:603 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.22/Modules/FindPkgConfig.cmake:825 (_pkg_check_modules_internal)
  flutter/ephemeral/.plugin_symlinks/audioplayers_linux/linux/CMakeLists.txt:25 (pkg_check_modules)

[2022-10-28 20:25] schettino72 commented on #1317
Try to build on verbose mode to get details on missing packages `flutter build linux -v`.

On my case it was gstreamer... on ubuntu I installed missing packages with:
[code]

[2022-10-30 20:59] SNNafi opened #1318 "Option to seek position by the miliseconds in windows"
## Checklist
- [X] I made sure that the feature I am proposing doesn't already exist

## Use case / Problem
Presently the value is rounded to seconds and as a result, the seek value is not accurate.

## Are you interested in working on a PR for this?
Yes

[2022-10-31 12:13] Sundin commented on #1314
Possibly related to https://github.com/bluefireteam/audioplayers/issues/1266

[2022-10-31 16:06] #1318 closed

[2022-10-31 18:30] matatoMatata94 commented on #1308
@Cofinlord
I'm doing the same course from her and I found a solution for it.
In your pubspec.yaml file you have to set audioplayers to ^0.20.1, run pub get and then I created following method from a code that I found:

void playSound(String note) async {
    ByteData bytes = await rootBundle.load('assets/$note.wav');
    Uint8List soundbytes = bytes.buffer.asUint8List(bytes.offsetInBytes, bytes.le

[2022-11-01 08:19] liubitaoSSL commented on #1150
1.1.1 seems to have fixed this
before I used player.stop restart player.play have this problem

[2022-11-01 12:22] chkecopy opened #1319 "Failed to build windows release. Always get some error about NuGet WindowsImplementLibrary"
CMake Error at flutter/ephemeral/.plugin_symlinks/audioplayers_windows/windows/CMakeLists.txt:29 (message):
  Failed to install nuget package
  Microsoft.Windows.ImplementationLibrary.1.0.210803.1

[2022-11-01 12:41] Gustl22 commented on #1303
Closing in favor of #1319

[2022-11-01 12:41] #1303 closed

[2022-11-02 15:45] Cofinlord commented on #1308
Thanks alot man. appreciate it.

[2022-11-03 08:50] Gustl22 commented on #146
Closing as stale.

[2022-11-03 08:50] #146 closed

[2022-11-03 08:51] Gustl22 commented on #504
Closing as stale.

[2022-11-03 08:51] #504 closed

[2022-11-03 08:51] Gustl22 commented on #516
Closing as stale.

[2022-11-03 08:51] #516 closed

[2022-11-03 08:51] Gustl22 commented on #586
Closing as stale.

[2022-11-03 08:51] #586 closed

[2022-11-03 08:54] Gustl22 commented on #555
Closing as stale.

[2022-11-03 08:54] #555 closed

[2022-11-03 08:54] Gustl22 commented on #699
Closing as stale.

[2022-11-03 08:54] #699 closed

[2022-11-03 08:54] Gustl22 commented on #702
Closing as stale.

[2022-11-03 08:54] #702 closed

[2022-11-03 08:55] Gustl22 commented on #703
Closing as stale.

[2022-11-03 08:55] #703 closed

[2022-11-03 08:56] Gustl22 commented on #707
Closing as stale.

[2022-11-03 08:56] #707 closed

[2022-11-03 08:56] Gustl22 commented on #750
Closing as stale.

[2022-11-03 08:56] #750 closed

[2022-11-03 08:57] Gustl22 commented on #768
Closing as stale.

[2022-11-03 08:57] #768 closed

[2022-11-03 08:57] Gustl22 commented on #869
Closing as stale.

[2022-11-03 08:57] #869 closed

[2022-11-03 08:58] Gustl22 commented on #977
Closing as stale.

[2022-11-03 08:58] #977 closed

[2022-11-03 08:58] Gustl22 commented on #1058
Closing as stale.

[2022-11-03 08:58] #1058 closed

[2022-11-03 08:59] Gustl22 commented on #961
Closing as stale.

[2022-11-03 08:59] #961 closed

[2022-11-03 08:59] Gustl22 commented on #962
Closing as stale.

[2022-11-03 08:59] #962 closed

[2022-11-03 08:59] Gustl22 commented on #1008
Closing as stale.

[2022-11-03 08:59] #1008 closed

[2022-11-03 09:00] Gustl22 commented on #1231
Closing as stale.

[2022-11-03 09:00] #1231 closed

[2022-11-03 09:01] Gustl22 commented on #1148
Closing as stale.

[2022-11-03 09:01] #1148 closed

[2022-11-03 09:02] Gustl22 commented on #978
Closing as stale.

[2022-11-03 09:02] #978 closed

[2022-11-03 09:02] Gustl22 commented on #1147
Closing as stale.

[2022-11-03 09:02] #1147 closed

[2022-11-03 11:05] dvishalakshan commented on #746
Yes, I'm still getting the error in `audioplayers: ^1.1.1`. Only iOS getting this error.

[2022-11-03 14:06] talksik commented on #1020
@erickzanardo I cant see supported formats in readme

[2022-11-04 16:11] pooblej opened #1320 "Player state not being updated to completed when playing via UrlSource"
## Checklist
- [X] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [X] I made sure that the issue I am raising doesn't already exist

Simular to https://github.com/bluefireteam/audioplayers/pull/1257

Since updating to latest 1.1.x - onPlayerComplete appear not to detect in iOS and Web
It does however continu

[2022-11-05 13:39] DamonChen117 commented on #746
I created a long audio and seek, pause, resume.
At the same time, create short audio from time to time, play and release.
After a while, the **long audio** not working, with error flutter: Unexpected platform error: AVPlayerItem.Status.failed

Then I cached the short audio players, the error gone.

[2022-11-05 22:49] Tobivaria commented on #1055
I see this error with the v1.1.1, but the sound still plays.
`D/AudioTrack( 4839): createTrack_l(21): AUDIO_OUTPUT_FLAG_FAST denied by server; frameCount 0 -> 62208`

[2022-11-06 11:10] enochviewu95 commented on #1308
Future<void> playSound() async {
    final player = AudioPlayer();
    await player.play(AssetSource('note1.wav'));
  }

Solved mine by using this approach

[2022-11-06 14:37] YassineChe commented on #1300
@RishiKar ,

Can you be more specific ? for me i use source as URL,
Some mp3 file work fine, but some are not.

Can you please explain more?

[2022-11-06 16:17] RishiKar commented on #1300
@YassineChe I was working with local files. Based on the feedback from the audio players team, I checked if all async functions have finished execution and more importantly audio resources used by other plugins have been released to be consumed by audio players plugin

[2022-11-07 00:41] DamonChen117 opened #1321 "Audio focus request denied due to IllegalArgumentException: Invalid duration hint"
audioplayers: ^1.1.1

The code works fine in iOS. When running in Android, it reported:

[code]

[2022-11-08 09:26] p3pp8 opened #1322 "Build 1.1.1 - Crash on Android 6.0.1"
Player crashes on Android 6.0.1:

`
E/AndroidRuntime(11475): java.lang.IllegalStateException
E/AndroidRuntime(11475): 	at android.media.MediaPlayer._prepare(Native Method)
E/AndroidRuntime(11475): 	at android.media.MediaPlayer.prepare(MediaPlayer.java:1164)
E/AndroidRuntime(11475): 	at xyz.luan.audioplayers.player.MediaPlayerPlayer.prepare(MediaPlayerPlayer.kt:89)
E/AndroidRuntime(11475): 	at xyz.

[2022-11-09 03:45] DamonChen117 opened #1323 "setReleaseMode(ReleaseMode.stop) not working, with setGlobalAudioContext in flutter release run."
audioplayers: ^1.1.1
android: 6.0.1

In debug mode, everything is fine.
But when run flutter in release mode, with AudioContext below, setReleaseMode(ReleaseMode.stop) not working, the audio loop itself.
Then comment out setGlobalAudioContext, setReleaseMode(ReleaseMode.stop)  works as expected.
[code]

[2022-11-10 12:23] ndawod commented on #1210
Any update on this @lucagonzalez ?

[2022-11-10 13:34] Cofinlord commented on #1308
This is what worked for me for individuals who may have problems in the future.
<img width="1440" alt="Screenshot 2022-11-10 at 9 29 22 AM" src="https://user-images.githubusercontent.com/97654709/201105211-c75e020f-7c17-4c94-80b9-8f973b739680.png">

[2022-11-10 14:27] pooblej commented on #1320
Update on my issue.

I have a workaround! I have created a silence MP3 and added this as the 1st audio to play - now the code works!
so it still plays technically 4 files but 1  is silent and then it plays the others fine!

[2022-11-10 15:11] zoomkoding commented on #1150
is this bug fixed?

[2022-11-10 22:19] iksent commented on #1194
Worked for me with this config only on iOS:

[code]

[2022-11-12 21:47] Tobivaria commented on #1311
Also facing this in 1.1.1

[2022-11-13 04:53] couturmi opened #1324 ""onPositionChanged" for AudioPlayer is sending incorrect audio position"
## Checklist
- [X] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [X] I made sure that the issue I am raising doesn't already exist

## Current bug behaviour
When using the `onPositionChanged` listener for an `AudioPlayer`, it will initially send the correct audio position, but after about 1-2 seconds, the a

[2022-11-13 08:51] weeee9 commented on #1136
For anyone having the same issue, rebuild the app solved my problem.

ref: https://stackoverflow.com/a/58082118/9511922

[2022-11-14 09:02] jargalbat opened #1325 "Add headers to the UrlSource"
## Checklist
player.play(UrlSource('internet.com/file.mp3'));

## Use case / Problem
Some of my songs are using URL headers.

## Proposal / Solution
Please add headers to the UrlSource.

[2022-11-14 22:22] rpungin commented on #1322
I get a similar crash once in a while as well, but on Android 13. It seems to be unrelated to Android version and more related to the actual audioplayers plugin.

[code]

[2022-11-14 22:27] Gustl22 commented on #1322
Reproduction sample? Thank you :)

[2022-11-15 17:52] jyotirmoy-paul opened #1326 "No package 'gstreamer-1.0' found: While building for Linux"
Though I made sure Gstreamer is installed (followed [this guide](https://gstreamer.freedesktop.org/documentation/installing/on-linux.html?gi-language=c#install-gstreamer-on-ubuntu-or-debian)), Still cannot build for Linux because of the following error

Just to provide context, this is the pipeline logs: [Linux Build Logs](https://github.com/jyotirmoy-paul/planets/actions/runs/3472807492/jobs/5804

[2022-11-16 00:45] OHeroJ commented on #1194
android  has same issue

[2022-11-16 02:10] merabtenei commented on #1100
I can only play .wav files on windows, no support for m4a, ogg etc...

[2022-11-16 03:22] mostafaAbdelazim opened #1327 "Can't play audio files stored on firebase storage while running the app on web"
I can't play [this](https://firebasestorage.googleapis.com/v0/b/instaflutter-85faa.appspot.com/o/audio%2F967fd652-43ea-4178-ba23-aa038fdf49d5.mp3?alt=media&token=6e8c8850-c358-4882-8d87-f54530205fae) on web i'm getting
Error: NotSupportedError: Failed to load because no supported source was found.

## Steps to reproduce
try to play this [audio](https://firebasestorage.googleapis.com/v0/b/instaflut

[2022-11-16 03:53] #1327 closed

[2022-11-16 03:56] spydon commented on #1194
As far as I know, Android does not have this issue, the sound is coming from the speaker and not from the earpiece by default on android.

[2022-11-17 12:27] OHeroJ commented on #1194
Set the phone volume to 0, still can play out the sound; set the phone volume to the maximum, but the sound played out is still the original size

[2022-11-17 13:40] hoangthienvn97 commented on #1150
đụ mẹ

[2022-11-18 00:18] #1308 closed

[2022-11-19 09:20] todoline-plus-plus commented on #1114
I have this issue too.
This is flutter doctor message:
[code]

I've tried to update win 10 SDK, but I failed, I even update Visiual Studio to 2022, but it didn't work.
It always said:
[code]

After that, I try to download Nuget.exe manually from following URL:
[code]

I found that I couldn't download, I think it's the point:
**I cannot download it directly**.
I have try to download this file by ot

[2022-11-19 09:54] Gustl22 commented on #1114
@todoline-plus-plus please see #1319
Its only a warning, it should compile anyways.

[2022-11-19 10:18] todoline-plus-plus commented on #1114
It build failed, it cannot continue to debug the code.
I have compared the screenshot you've shown in [#319 ] (https://github.com/bluefireteam/audioplayers/issues/1319).
I found that there are no Individual components in my system to select, what should I do next?

[2022-11-19 10:36] Gustl22 commented on #1114
@todoline-plus-plus just asking the same questions:

Did you install Visual Studio or Visual Studio Build Tools 2022?
Which version of VS or Build Tools do you use?
Did you select the `Desktop development with C++`  and all default components?
I upgraded to Win11 SDK `10.0.22621.0`. But Win10 SDK `10.0.19041.0` is also working fine.

[2022-11-19 10:42] todoline-plus-plus commented on #1114
here is the picture:
https://todoline-plus-plus.github.io/backlink/pic/nuget_exe_not_found.png
https://todoline-plus-plus.github.io/backlink/pic/nuget_exe_not_found_1.png
https://todoline-plus-plus.github.io/backlink/pic/nuget_exe_not_found_2.png

It means that there no items:
1) Windows Universal C Runtime
2) C++/WinRT

See error code above:
[code]

I think it lost C++/WinRT, then cause the error

[2022-11-19 10:48] Nassimboud commented on #1279
AudioCache is dead, long live Sources
One of the main changes was my desire to "kill" the AudioCache API due to the vast confusion that it caused with users (despite our best efforts documenting everything).

We still have the AudioCache class but its APIs are exclusively dedicated to transforming asset files into local files, cache them, and provide the path. It however doesn't normally need be u

[2022-11-19 13:38] guivr commented on #1279
`DeviceFileSource` won't work if the file is under the same name - unless there was an update. See #1225

[2022-11-20 02:48] todoline-plus-plus commented on #1114
After follwing steps, it worked:
1) Uninstall Visual Studio Build tools 2017.
2) Uninstall Visual Studio Build tools 2019.
3) Run command: flutter doctor, then got the following messages:
[code]
4) Reinstall build tool for Visual studio 2022
**Select Desktop development with C++, then checked MSVC v142 - VS 2019 C++ x64/x86 build tools.**

[2022-11-21 08:30] curls commented on #803
find the same issue. please fix it.

[2022-11-21 10:05] codebombi commented on #1324
Please take a look at this error
flutter: 0:00:05.800000
flutter: 0:00:01.715000
flutter: 0:00:05.800000
flutter: 0:00:01.718000
flutter: 0:00:05.800000
flutter: 0:00:00.000000 <--- the value disappears without completing
flutter: 0:00:05.800000 <--- max Duration

[2022-11-22 05:14] fengerwoo opened #1328 "After introducing dependencies, iOS starts to report an error"
After the introduction of dependencies, nothing has changed, and an error is reported when iOS starts

Flutter version 3.3.5
Audioplayers Version 1.1.1
Device iPhone7  iOS14.7.1

OC selected by iOS language when creating Flutter project

[code]

[2022-11-22 05:26] fengerwoo commented on #1328
Just found a solution. The official will see if there is a better solution

My solution is to add these two paths to the "Runpath Search Paths" of the iOS project

[code]

As shown in the figure
<img src="https://tva1.sinaimg.cn/large/008vxvgGly1h8du8ab0psj312u0p1tbl.jpg"/>

[2022-11-22 09:23] JohnnyRainbow81 opened #1329 "[Android]"
Current behaviour:
I have 2 audioplayers with 2 different sounds, playerA and playerB. When I play playerA's sound, pause it, then play playerB's sound and it completes, player A's sound _automatically_ gets resumed and plays until completed.

Expected behaviour:
When playerA pauses, it should remained paused when playerB completes playing.

Here is a minimal code example where I kind of replicate

[2022-11-22 10:54] BrendanBasson4 commented on #1324
Any news on this issue?

[2022-11-22 14:28] Gustl22 commented on #1266
Ideally the library should never throw an error. So this would be something we need to catch in the lib or don't even let it go that far.
I would propose to check if the file exists, before loading it to audioplayers.

[2022-11-22 14:41] Ejazullah579 commented on #1266
well yes to begin with i do the same. if file not found then he has to download it otherwise reloads the file. I carried the following at the runtime. so like it was ready to load then i got back to explorer and deleted that file and then tried playing that file. Though this type of case is rare but its just a precaution for headsup

[2022-11-22 20:54] TNelen opened #1330 "Audio not playing on iOS device"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

Im playing an audiofile from remote. On Android this implementation is working perfectly fine, but on iOS the audio is not playing.

## Current bug behaviour
On iOS the audio i

[2022-11-23 11:34] Pitazzo opened #1331 "MediaPlayer throws (sometimes) IllegalStateException when playing sound"
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

Sometimes, at the time of playing a sound, a Platform exception regarding `MediaPlayer` is raised.

## Current bug behaviour
At the time of playing a sound, following exception

[2022-11-23 13:34] TNelen commented on #1330
I tried playing this file https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3 and this is working.

[2022-11-23 15:37] clockwork189 commented on #1321
I also experienced this issue with AndroidAudioFocus.none. Setting the value to anything else, even null, fixed the issue for me. I did get a different stack trace which I am adding below so that it may help with debugging this issue:
[code]

[2022-11-23 19:51] Gustl22 commented on #1312
So you talking about android or ios? Can you provide a reproduction example. Sorry I don't have the time to setup an example or modify the example of audioplayers. Also try to use the issue template.

Also see #1038

[2022-11-23 20:02] Gustl22 commented on #1314
Yeah let's close it in favor of #1266

[2022-11-23 20:02] #1314 closed

[2022-11-23 20:20] Gustl22 commented on #1020
@talksik, see here: https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md#supported-formatsencodings

[2022-11-23 20:36] #1325 closed

[2022-11-23 20:37] Gustl22 commented on #1158
See #129

[2022-11-23 20:37] #1158 closed

[2022-11-23 20:40] Gustl22 commented on #1326
@jyotirmoy-paul did you follow these steps?
https://github.com/bluefireteam/audioplayers/blob/main/packages/audioplayers_linux/requirements.md

[2022-11-23 20:45] Gustl22 commented on #1100
@merabtenei can you provide the files?

[2022-11-23 21:39] Gustl22 commented on #1327
You can't even play it natively on the web browser: Unsupported meme type.

I downloaded and played it with VLC media player:
![image](https://user-images.githubusercontent.com/18537755/203649748-a82bb07c-920d-4b62-807b-99df996acda9.png)

But I think the browser does not support this format (I think it's `.mp4a` /  `.m4a`) as mime type `mp4`
https://en.wikipedia.org/wiki/Audio_file_format
https://

[2022-11-23 21:48] Gustl22 commented on #1328
Can you compare with our example?
https://github.com/bluefireteam/audioplayers/tree/main/packages/audioplayers/example/ios

Does the error also occur on a fresh project?

[2022-11-23 23:08] Gustl22 commented on #1329
I can reproduce in your code sample, but unfortunately it's too much boilerplate code to detemine the source of the issue.
You may can remove all the code that is unnecessary. E.g. I tried without the cache (UrlSource only) and could also reproduce.

Then I created an extra test for it: https://github.com/Gustl22/audioplayers/blob/feat/test-alternating-sources/packages/audioplayers/example/integra

[2022-11-23 23:15] Gustl22 commented on #1324
@couturmi @codebombi  @BrendanBasson4 this appears on which platform?

[2022-11-23 23:21] Gustl22 commented on #1331
Thank you for your detailed report! Unfortunately I don't have the time to try until the error is thrown.
If you have clear reproduction steps, when the error occurs, we can help you much better and fix it.

FYI: #1322

[2022-11-24 03:17] jyotirmoy-paul commented on #1326
Yes @Gustl22 I have tried these as well, but I think I got the issue, instead of installing the dependency in the pipeline machine, I need to install it inside the linux container which builds the snap. I have asked the same question to [them](https://github.com/snapcore/action-build/issues/48). If you have any idea please let me know?

In the meantime, I will keep checking for solutions. Thanks f

[2022-11-24 03:36] jyotirmoy-paul commented on #1326
I got the solution, it's just adding the build-packages part in the snapcraft.yaml file

[code]

[2022-11-24 03:36] #1326 closed

[2022-11-24 06:14] Gustl22 commented on #1326
Ok didn't know you want to build your own snap :sweat_smile:

[2022-11-24 08:45] Pitazzo commented on #1331
Yeah, I know that with no steps, this is like looking for a needle in a haystack. Will follow the other issue, as seems to be the same problem. I do not know how I did not find out that issue without opening this one. Thanks!

[2022-11-24 08:49] Pitazzo commented on #1322
I do not think neither is related to the OS version, @rpungin. Have you thought about the state of silent mode or do not disturb mode? I could not find any correlation, but are good candidates. Btw, sometime I also get this slightly different trace:

[code]

[2022-11-24 09:41] merabtenei commented on #1100
Thank for taking the time to look at this.
I use the record library in pub dev to record a file and play it with audioplayers.
I prepared a complete example to reproduce the issue :
[code]
Run this on windows and click the record and play button. This will record an 8 seconds test.m4a file and save it to Downloads folder. When trying to play that file I get : ```AudioPlayers: Error setting url to

[2022-11-24 11:29] sajithlaldev commented on #1210
any updates?

[2022-11-24 12:44] codebombi commented on #1324
Android 9

[2022-11-24 17:01] JohnnyRainbow81 commented on #1329
@Gustl22 Thank you for your investigation! I will have a look into your code and give it a try...

[2022-11-26 09:47] mrcsilverfox commented on #1324
Also on Android 13

[2022-11-27 02:51] utkarsh1097 commented on #1194
Found this in the SwiftAudioplayersDarwinPlugin definition. I think it will be useful to update the documentation accordingly. Or let the Flutter wrapper also mention this in logs

![image](https://user-images.githubusercontent.com/20616980/204117081-dc87eaa2-cabd-4ef0-b72a-98195343ef68.png)

[2022-11-27 06:59] kang86h opened #1336 "I can't adjust the volume when I open the web app on ios."
## Checklist
- [ ] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [ ] I made sure that the issue I am raising doesn't already exist

번역I can't adjust the volume when I open the web app uploaded to Firebase with the Safari browser of iOS.

## Current bug behaviour

The volume of the music file played in the w

[2022-11-28 10:20] Sarat-1997 commented on #1098
Thanks @cfuj . It works.

[2022-11-28 14:19] lukepighetti opened #1337 "normalize simultaneously playing sounds"
## Checklist
- [x] I made sure that the feature I am proposing doesn't already exist

## Use case / Problem
Playing multiple sounds simultaneously can cause clipping, this is apparent when playing multiple gunshot sounds for example.

## Proposal / Solution

I have no proposed solution because I'm not sure how this is typically handled, but modern video games don't appear to have this clipping iss

[2022-11-28 16:33] spydon commented on #1194
Good catch @utkarsh1097!

[2022-11-29 08:43] Sundin commented on #1314
To anyone looking for a workaround: you can make a HEAD request to the URL in question before trying to play the file. Based on the response code you will know if the file exists or not.

[2022-11-29 11:00] RomanSoviak opened #1338 "iOS crash `0xda20 WrappedMediaPlayer.setSourceUrl` in `WrappedMediaPlayer.swift:2124`"
Sometimes I get error from iOS
` 0xda20 WrappedMediaPlayer.setSourceUrl(url:isLocal:completer:) + 2124 (WrappedMediaPlayer.swift:2124)`
<img width="1089" alt="Screenshot 2022-11-29 at 12 57 24" src="https://user-images.githubusercontent.com/26696190/204511622-1d1a10bc-8ecf-44be-89fa-9981f78cc003.png">

[code]

[2022-11-29 12:32] merabtenei opened #1339 "Error setting url to 'path/to/localfile' on windows for AAC .m4a file."
## Checklist
- [x] I read the [troubleshooting guide](https://github.com/bluefireteam/audioplayers/blob/main/troubleshooting.md) before raising this issue
- [x] I made sure that the issue I am raising doesn't already exist

Setting source for a local AAC .m4a file on windows gives the following error :
[code]

## Expected behaviour
As stated in  the following link provided in the doc : https://lea

[2022-11-30 03:05] wjeanvilma commented on #1194
That works for me!

The only change for iOS is 'category: AVAudioSessionCategory.playAndRecord' instead of 'category: AVAudioSessionCategory.ambient'